version: '2.3'
services:
  generate_traces:
    image: curlimages/curl
    environment:
      - TARGET_URL=http://backend:9000
    volumes:
      - ./scripts/send_traces.sh:/send_traces.sh
    command: ["sh", "/send_traces.sh"]
    depends_on:
      backend:
        condition: service_healthy
  backend:
    image: ghcr.io/openzipkin/brave-example:armeria
    entrypoint: start-backend
    ports:
      - 9000:9000
    environment:
      - ZIPKIN_BASEURL=http://elastic-agent:9411
