version: '2.3'
services:
  zipkin_input_otel:
    build:
      context: ./source
      dockerfile: Dockerfile
    volumes:
      - ./sample_traces:/sample_traces:ro
    environment:
      - ZIPKIN_ENDPOINT=http://elastic-agent:9411
      - TRACES_DIR=/sample_traces
      - SEND_DELAY=5s
