version: '2.3'
services:
  zipkin_input_otel:
    // TODO Currently docker.elastic.co/observability/stream:v0.20.0 cannot be used
    // because it does not accept 202 responses as success.
    // Related issue: https://github.com/elastic/stream/issues/193
    build:
      context: ./source
      dockerfile: Dockerfile
    volumes:
      - ./sample_traces:/sample_traces:ro
    environment:
      - ZIPKIN_ENDPOINT=http://elastic-agent:9411
      - TRACES_DIR=/sample_traces
      - SEND_DELAY=5s
