rules:
  - path: /api/v2/users
    methods: ['GET']
    request_headers:
      Accept: application/json
      api-key: xxxx
      api-secret: xxxx
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "users": [
              {
                "role_id": "63622vfed93d274d9489dbbgresdcv6a1cf",
                "data_scope_id": "fgreg63622d93d274d9489db6a1cf",
                "allowed_scopes_impersonation": [
                  "63622d93d27cvdsfa4d9489db6a1cf",
                  "63622d93d2dvfwe74d9489db6a1cc"
                ],
                "first_name": "alias",
                "last_name": "doe",
                "email": "alias.doe@example.com",
                "title": "Security Analyst",
                "department": "test",
                "user_name": "alias.doe",
                "last_updated": "Sun, 11 Mar 2025 18:53:09 GMT",
                "source": "test source",
                "uuid": "63622d93d274ihvbngvbhd9489db6a1cf",
                "role_name": "test role",
                "data_scope_name": "test data scope",
                "last_login": "Sun, 09 Mar 2025 18:53:09 GMT"
              },
              {
                "role_id": "63622d93d27xcvdgre4d9489dbbgresdcv6a1cf",
                "data_scope_id": "fgreghtgrtefdgrt63622d93d274d9489db6a1cf",
                "allowed_scopes_impersonation": [
                  "63622d93d27vdfrew4d9489db6a1cf",
                  "63622d93d27fvdwe4d9489db6a1cc"
                ],
                "first_name": "bob",
                "last_name": "doe",
                "email": "bob.doe@example.com",
                "title": "Cloud Operations Engineer",
                "department": "sample",
                "user_name": "bob.doe",
                "last_updated": "Mon, 12 Mar 2025 18:53:09 GMT",
                "source": "sample source",
                "uuid": "78ij63622d93d274d9489db6a1cf",
                "role_name": " role",
                "data_scope_name": "sample data scope",
                "last_login": "Mon, 08 Mar 2025 18:53:09 GMT"
              }
            ]
          }
          `}}
