rules:
  - path: /api/v2/adapters
    methods: ['GET']
    request_headers:
      Accept: application/json
      api-key: xxxx
      api-secret: xxxx
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "adapters": [
              {
                "id": "a_cloud_guru_adapter",
                "adapter_configs": {},
                "connections_count": {
                  "error_count": 0,
                  "inactive_count": 0,
                  "success_count": 1,
                  "total_count": 1,
                  "warning_count": 0
                },
                "is_master": true,
                "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                "node_name": "Primary",
                "plugin_name": "a_cloud_guru_adapter",
                "status": "success",
                "unique_plugin_name": "a_cloud_guru_adapter_0",
                "connections": [
                  {
                    "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                    "active": true,
                    "connection_id": "conn_12345",
                    "error": null,
                    "adapter_name": "a_cloud_guru_adapter",
                    "connection_config": {},
                    "curl": null,
                    "failed_connections_limit_exceeded": false,
                    "last_fetch_time": "Sat, 08 Mar 2025 18:53:09 GMT",
                    "note": "",
                    "status": "success",
                    "tunnel_id": "khnsjhgvcskdbvnksdjahubnkvdhb",
                    "uuid": "c69070fgredffedfgrfedcfd9e5e145e4861f2843d1951ab2",
                    "connection_adapter_config": {},
                    "connection_advanced_config": {},
                    "connection_discovery": {},
                    "did_notify_error": false,
                    "id": "conn_12345",
                    "last_successful_fetch": "Sat, 08 Mar 2025 18:53:09 GMT"
                  }
                ]
              },
              {
                "id": "a10_networks_adapter",
                "adapter_configs": {},
                "connections_count": {
                  "error_count": 0,
                  "inactive_count": 0,
                  "success_count": 1,
                  "total_count": 1,
                  "warning_count": 0
                },
                "is_master": true,
                "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                "node_name": "Primary",
                "plugin_name": "a10_networks_adapter",
                "status": "error",
                "unique_plugin_name": "a10_networks_adapter_0",
                "connections": [
                  {
                    "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                    "active": true,
                    "connection_id": "conn_12345",
                    "error": null,
                    "adapter_name": "a10_networks_adapter",
                    "connection_config": {},
                    "curl": null,
                    "failed_connections_limit_exceeded": false,
                    "last_fetch_time": "Sat, 08 Mar 2025 18:53:09 GMT",
                    "note": "",
                    "status": "success",
                    "tunnel_id": "khnsjhgvcskdbvnksdjahubnkvdhb",
                    "uuid": "c69070fgredffedfgrfedcfd9e5e145e4861f2843d1951ab2",
                    "connection_adapter_config": {},
                    "connection_advanced_config": {},
                    "connection_discovery": {},
                    "did_notify_error": false,
                    "id": "conn_12345",
                    "last_successful_fetch": "Sat, 08 Mar 2025 18:53:09 GMT"
                  }
                ]
              }
            ]
          }
          `}}
  - path: /api/v2/users
    methods: ['GET']
    request_headers:
      Accept: application/json
      api-key: xxxx
      api-secret: xxxx
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "users": [
              {
                "role_id": "63622vfed93d274d9489dbbgresdcv6a1cf",
                "data_scope_id": "fgreg63622d93d274d9489db6a1cf",
                "allowed_scopes_impersonation": [
                  "63622d93d27cvdsfa4d9489db6a1cf",
                  "63622d93d2dvfwe74d9489db6a1cc"
                ],
                "first_name": "alias",
                "last_name": "doe",
                "email": "alias.doe@example.com",
                "title": "Security Analyst",
                "department": "test",
                "user_name": "alias.doe",
                "last_updated": "Sun, 11 Mar 2025 18:53:09 GMT",
                "source": "test source",
                "uuid": "63622d93d274ihvbngvbhd9489db6a1cf",
                "role_name": "test role",
                "data_scope_name": "test data scope",
                "last_login": "Sun, 09 Mar 2025 18:53:09 GMT"
              },
              {
                "role_id": "63622d93d27xcvdgre4d9489dbbgresdcv6a1cf",
                "data_scope_id": "fgreghtgrtefdgrt63622d93d274d9489db6a1cf",
                "allowed_scopes_impersonation": [
                  "63622d93d27vdfrew4d9489db6a1cf",
                  "63622d93d27fvdwe4d9489db6a1cc"
                ],
                "first_name": "bob",
                "last_name": "doe",
                "email": "bob.doe@example.com",
                "title": "Cloud Operations Engineer",
                "department": "sample",
                "user_name": "bob.doe",
                "last_updated": "Mon, 12 Mar 2025 18:53:09 GMT",
                "source": "sample source",
                "uuid": "78ij63622d93d274d9489db6a1cf",
                "role_name": " role",
                "data_scope_name": "sample data scope",
                "last_login": "Mon, 08 Mar 2025 18:53:09 GMT"
              }
            ]
          }
          `}}
  - path: /api/v2/gateways
    methods: ['GET']
    request_headers:
      Accept: application/json
      api-key: xxxx
      api-secret: xxxx
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "gateways": [
              {
                "name": "Gateway_1",
                "default": false,
                "dns_server": "1.128.0.0",
                "email_when_connected": false,
                "email_when_disconnected": false,
                "email_recipients": [
                  "john.doe@example.com"
                ],
                "backup_ids": [
                  "backup1",
                  "backup2"
                ],
                "tunnel_proxy_settings": {
                  "enabled": false,
                  "tunnel_proxy_addr": "addr",
                  "tunnel_proxy_port": 8080,
                  "tunnel_proxy_user": "tunnel-proxy-01"
                },
                "id": "tunnel3",
                "status": "pending"
              },
              {
                "name": "Gateway_3",
                "default": false,
                "dns_server": "216.160.83.56",
                "email_when_connected": false,
                "email_when_disconnected": false,
                "email_recipients": [
                  "alias.doe@example.com"
                ],
                "backup_ids": [
                  "backup1",
                  "backup2"
                ],
                "tunnel_proxy_settings": {
                  "enabled": false,
                  "tunnel_proxy_addr": "addr1",
                  "tunnel_proxy_port": 8081,
                  "tunnel_proxy_user": "tunnel-proxy-02"
                },
                "id": "tunnel2",
                "status": "error"
              }
            ]
          }
          `}}