rules:
  - path: /api/v2/assets/object_storages
    methods: ['POST']
    request_headers:
      Content-Type: application/json
      api-key: xxxx
      api-secret: xxxx
    request_body: /.*"next_page":"xyz".*"page":{"limit":2}.*/
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "assets": [
              {
                "internal_axon_id": "83d2db957a4fba14e25463b50b21892c",
                "adapters": [
                  "aws_adapter"
                ],
                "adapter_list_length": 1,
                "specific_data": [
                  {
                    "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:07 GMT",
                    "adapter_categories": [
                      "Cloud Infra"
                    ],
                    "client_used": "67fd09ab731ccb57309230fc",
                    "data": {
                      "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:07 GMT",
                      "application_and_account_name": "aws/aws-demo",
                      "asset_type": "AWS S3",
                      "creation_date": "Thu, 22 Aug 2024 07:34:54 GMT",
                      "fetch_time": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "first_fetch_time": "Mon, 14 Apr 2025 13:27:03 GMT",
                      "from_last_fetch": true,
                      "id": "e70827d9a32930806674",
                      "id_raw": "db24951c-55e6-4f11-8178-67c4b4fcb32d",
                      "is_fetched_from_adapter": true,
                      "last_fetch_connection_id": "67fd09ab731ccb57309230fc",
                      "last_fetch_connection_label": "aws-demo",
                      "name": "archive-dev",
                      "not_fetched_count": 0,
                      "software_cves": [],
                      "source_application": "AWS",
                      "tenant_number": [
                        "3"
                      ],
                      "type": "ObjectStorage",
                      "urls": [
                        "https://archive-dev.s3.amazonaws.com"
                      ]
                    },
                    "initial_plugin_unique_name": "aws_adapter_0",
                    "plugin_name": "aws_adapter",
                    "plugin_type": "Adapter",
                    "plugin_unique_name": "aws_adapter_0",
                    "quick_id": "aws_adapter_0!e70827d9a32930806674",
                    "type": "entitydata"
                  }
                ]
              }
            ],
            "meta": {
              "cache_last_updated": "Mon, 01 Dec 2025 13:37:38 GMT",
              "is_data_from_cache": true,
              "page": {
                "number": 2,
                "size": 2,
                "totalPages": 2,
                "totalResources": 3
              },
              "next_page": "abcd",
              "expand_row": false,
              "optimized_view": false,
              "relation_fields_data": false
            }
          }
          `}}

  - path: /api/v2/assets/object_storages
    methods: ['POST']
    request_headers:
      Content-Type: application/json
      api-key: xxxx
      api-secret: xxxx
    request_body: /.*"page":{"limit":2}.*/
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "assets": [
              {
                "internal_axon_id": "056df4f2bde18a1547d5fae22098d64d",
                "adapters": [
                  "aws_adapter"
                ],
                "adapter_list_length": 1,
                "specific_data": [
                  {
                    "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:07 GMT",
                    "adapter_categories": [
                      "Cloud Infra"
                    ],
                    "client_used": "67fd09ab731ccb57309230fc",
                    "data": {
                      "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:07 GMT",
                      "application_and_account_name": "aws/aws-demo",
                      "asset_type": "AWS S3",
                      "creation_date": "Wed, 25 Dec 2024 22:16:51 GMT",
                      "fetch_time": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "first_fetch_time": "Mon, 14 Apr 2025 13:27:03 GMT",
                      "from_last_fetch": true,
                      "id": "cda46c83bf39105ee904",
                      "id_raw": "20d8a9b6-7ca0-4545-b6bd-7158eb8c4a42",
                      "is_fetched_from_adapter": true,
                      "last_fetch_connection_id": "67fd09ab731ccb57309230fc",
                      "last_fetch_connection_label": "aws-demo",
                      "name": "dacFdDeed650092F-core-dev",
                      "not_fetched_count": 0,
                      "software_cves": [],
                      "source_application": "AWS",
                      "tenant_number": [
                        "3"
                      ],
                      "type": "ObjectStorage",
                      "urls": [
                        "https://dacFdDeed650092F-core-dev.s3.amazonaws.com"
                      ]
                    },
                    "initial_plugin_unique_name": "aws_adapter_0",
                    "plugin_name": "aws_adapter",
                    "plugin_type": "Adapter",
                    "plugin_unique_name": "aws_adapter_0",
                    "quick_id": "aws_adapter_0!cda46c83bf39105ee904",
                    "type": "entitydata"
                  }
                ]
              },
              {
                "internal_axon_id": "112409a41c2adf31d94b24898951cca9",
                "adapters": [
                  "aws_adapter"
                ],
                "adapter_list_length": 1,
                "specific_data": [
                  {
                    "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:07 GMT",
                    "adapter_categories": [
                      "Cloud Infra"
                    ],
                    "client_used": "67fd09ab731ccb57309230fc",
                    "data": {
                      "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:07 GMT",
                      "application_and_account_name": "aws/aws-demo",
                      "asset_type": "AWS S3",
                      "creation_date": "Sat, 31 Aug 2024 23:19:30 GMT",
                      "fetch_time": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "first_fetch_time": "Mon, 14 Apr 2025 13:27:03 GMT",
                      "from_last_fetch": true,
                      "id": "ba6f01311fe40dc01385",
                      "id_raw": "5377b130-635e-430e-bb89-3200198db463",
                      "is_fetched_from_adapter": true,
                      "last_fetch_connection_id": "67fd09ab731ccb57309230fc",
                      "last_fetch_connection_label": "aws-demo",
                      "name": "logs-core-dev",
                      "not_fetched_count": 0,
                      "software_cves": [],
                      "source_application": "AWS",
                      "tenant_number": [
                        "2"
                      ],
                      "type": "ObjectStorage",
                      "urls": [
                        "https://logs-core-dev.s3.amazonaws.com"
                      ]
                    },
                    "initial_plugin_unique_name": "aws_adapter_0",
                    "plugin_name": "aws_adapter",
                    "plugin_type": "Adapter",
                    "plugin_unique_name": "aws_adapter_0",
                    "quick_id": "aws_adapter_0!ba6f01311fe40dc01385",
                    "type": "entitydata"
                  }
                ]
              }
            ],
            "meta": {
              "cache_last_updated": "Mon, 01 Dec 2025 13:37:38 GMT",
              "is_data_from_cache": true,
              "page": {
                  "number": 1,
                  "size": 2,
                  "totalPages": 2,
                  "totalResources": 3
              },
              "next_page": "xyz",
              "expand_row": false,
              "optimized_view": false,
              "relation_fields_data": false
            }
          }
          `}}

  - path: /api/v2/assets/file_systems
    methods: ['POST']
    request_headers:
      Content-Type: application/json
      api-key: xxxx
      api-secret: xxxx
    request_body: /.*"page":{"limit":2}.*/
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "assets": [],
            "meta": {
              "cache_last_updated": "Mon, 01 Dec 2025 13:37:38 GMT",
              "is_data_from_cache": true,
              "page": {
                  "number": 1,
                  "size": 0,
                  "totalPages": 0,
                  "totalResources": 0
              },
              "expand_row": false,
              "optimized_view": false,
              "relation_fields_data": false
            }
          }
          `}}

  - path: /api/v2/assets/disks
    methods: ['POST']
    request_headers:
      Content-Type: application/json
      api-key: xxxx
      api-secret: xxxx
    request_body: /.*"next_page":"xyz".*"page":{"limit":2}.*/
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "assets": [
              {
                "internal_axon_id": "1e718375db533623bd6e5a2751444d1f",
                "adapters": [
                  "aws_adapter"
                ],
                "adapter_list_length": 1,
                "specific_data": [
                  {
                    "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                    "adapter_categories": [
                      "Cloud Infra"
                    ],
                    "client_used": "67fd09ab731ccb57309230fc",
                    "data": {
                      "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "application_and_account_name": "aws/aws-demo",
                      "asset_type": "EBS Volume",
                      "create_time": "Mon, 16 Dec 2024 07:29:20 GMT",
                      "fetch_time": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "first_fetch_time": "Mon, 14 Apr 2025 13:27:02 GMT",
                      "from_last_fetch": true,
                      "id": "01d5d7f64b0c2ad8f074",
                      "id_raw": "0e9155e3-7d1b-4cbf-99bf-fdbbb3e4946d",
                      "is_fetched_from_adapter": true,
                      "last_fetch_connection_id": "67fd09ab731ccb57309230fc",
                      "last_fetch_connection_label": "aws-demo",
                      "name": "atlas-12-default",
                      "not_fetched_count": 0,
                      "size": 33,
                      "source_application": "AWS",
                      "tenant_number": [
                        "1"
                      ],
                      "type": "Disk"
                    },
                    "initial_plugin_unique_name": "aws_adapter_0",
                    "plugin_name": "aws_adapter",
                    "plugin_type": "Adapter",
                    "plugin_unique_name": "aws_adapter_0",
                    "quick_id": "aws_adapter_0!01d5d7f64b0c2ad8f074",
                    "type": "entitydata"
                  }
                ]
              },
              {
                "internal_axon_id": "84ea027f64aa69e34fc2ed44486015b4",
                "adapters": [
                  "aws_adapter"
                ],
                "adapter_list_length": 1,
                "specific_data": [
                  {
                    "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                    "adapter_categories": [
                      "Cloud Infra"
                    ],
                    "client_used": "67fd09ab731ccb57309230fc",
                    "data": {
                      "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "application_and_account_name": "aws/aws-demo",
                      "asset_type": "EBS Volume",
                      "create_time": "Wed, 18 Sep 2024 20:34:17 GMT",
                      "fetch_time": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "first_fetch_time": "Mon, 14 Apr 2025 13:27:02 GMT",
                      "from_last_fetch": true,
                      "id": "1fb90d42ed16d62c86b1",
                      "id_raw": "682e8dca-99d8-4233-a2ec-94573eaf3ed1",
                      "is_fetched_from_adapter": true,
                      "last_fetch_connection_id": "67fd09ab731ccb57309230fc",
                      "last_fetch_connection_label": "aws-demo",
                      "name": "atlas-core-memory",
                      "not_fetched_count": 0,
                      "size": 3,
                      "source_application": "AWS",
                      "tenant_number": [
                        "1"
                      ],
                      "type": "Disk"
                    },
                    "initial_plugin_unique_name": "aws_adapter_0",
                    "plugin_name": "aws_adapter",
                    "plugin_type": "Adapter",
                    "plugin_unique_name": "aws_adapter_0",
                    "quick_id": "aws_adapter_0!1fb90d42ed16d62c86b1",
                    "type": "entitydata"
                  }
                ]
              }
            ],
            "meta": {
              "cache_last_updated": "Mon, 01 Dec 2025 13:37:38 GMT",
              "is_data_from_cache": true,
              "page": {
                "number": 2,
                "size": 2,
                "totalPages": 2,
                "totalResources": 4
              },
              "next_page": "abcd",
              "expand_row": false,
              "optimized_view": false,
              "relation_fields_data": false
            }
          }
          `}}

  - path: /api/v2/assets/disks
    methods: ['POST']
    request_headers:
      Content-Type: application/json
      api-key: xxxx
      api-secret: xxxx
    request_body: /.*"page":{"limit":2}.*/
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "assets": [
              {
                "internal_axon_id": "7e8e5d4db0c7aa12d3b15c556b4513eb",
                "adapters": [
                  "aws_adapter"
                ],
                "adapter_list_length": 1,
                "specific_data": [
                  {
                    "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                    "adapter_categories": [
                      "Cloud Infra"
                    ],
                    "client_used": "67fd09ab731ccb57309230fc",
                    "data": {
                      "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "application_and_account_name": "aws/aws-demo",
                      "asset_type": "EBS Volume",
                      "create_time": "Fri, 13 Dec 2024 02:59:39 GMT",
                      "fetch_time": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "first_fetch_time": "Mon, 14 Apr 2025 13:27:02 GMT",
                      "from_last_fetch": true,
                      "id": "140649f1bb9614f2254f",
                      "id_raw": "47c9b542-36de-4415-ad96-5840a082f9dd",
                      "is_fetched_from_adapter": true,
                      "last_fetch_connection_id": "67fd09ab731ccb57309230fc",
                      "last_fetch_connection_label": "aws-demo",
                      "not_fetched_count": 0,
                      "size": 40,
                      "source_application": "AWS",
                      "tenant_number": [
                        "1"
                      ],
                      "type": "Disk"
                    },
                    "initial_plugin_unique_name": "aws_adapter_0",
                    "plugin_name": "aws_adapter",
                    "plugin_type": "Adapter",
                    "plugin_unique_name": "aws_adapter_0",
                    "quick_id": "aws_adapter_0!140649f1bb9614f2254f",
                    "type": "entitydata"
                  }
                ]
              },
              {
                "internal_axon_id": "e920bc0205599aa776d9472bd08fb87c",
                "adapters": [
                  "aws_adapter"
                ],
                "adapter_list_length": 1,
                "specific_data": [
                  {
                    "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                    "adapter_categories": [
                      "Cloud Infra"
                    ],
                    "client_used": "67fd09ab731ccb57309230fc",
                    "data": {
                      "accurate_for_datetime": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "application_and_account_name": "aws/aws-demo",
                      "asset_type": "EBS Volume",
                      "create_time": "Thu, 02 Jan 2025 04:24:20 GMT",
                      "fetch_time": "Tue, 09 Dec 2025 00:02:06 GMT",
                      "first_fetch_time": "Mon, 14 Apr 2025 13:27:02 GMT",
                      "from_last_fetch": true,
                      "id": "3937fc610509e1a16984",
                      "id_raw": "af248170-7dc6-4c5d-ad5d-9a26890c8368",
                      "is_fetched_from_adapter": true,
                      "last_fetch_connection_id": "67fd09ab731ccb57309230fc",
                      "last_fetch_connection_label": "aws-demo",
                      "not_fetched_count": 0,
                      "size": 23,
                      "source_application": "AWS",
                      "tenant_number": [
                        "1"
                      ],
                      "type": "Disk"
                    },
                    "initial_plugin_unique_name": "aws_adapter_0",
                    "plugin_name": "aws_adapter",
                    "plugin_type": "Adapter",
                    "plugin_unique_name": "aws_adapter_0",
                    "quick_id": "aws_adapter_0!3937fc610509e1a16984",
                    "type": "entitydata"
                  }
                ]
              }
            ],
            "meta": {
              "cache_last_updated": "Mon, 01 Dec 2025 13:37:38 GMT",
              "is_data_from_cache": true,
              "page": {
                  "number": 1,
                  "size": 2,
                  "totalPages": 2,
                  "totalResources": 4
              },
              "next_page": "xyz",
              "expand_row": false,
              "optimized_view": false,
              "relation_fields_data": false
            }
          }
          `}}
