rules:
  - path: /api/v2/adapters
    methods: ['GET']
    request_headers:
      Accept: application/json
      api-key: xxxx
      api-secret: xxxx
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "adapters": [
              {
                "id": "a_cloud_guru_adapter",
                "adapter_configs": {},
                "connections_count": {
                  "error_count": 0,
                  "inactive_count": 0,
                  "success_count": 1,
                  "total_count": 1,
                  "warning_count": 0
                },
                "is_master": true,
                "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                "node_name": "Primary",
                "plugin_name": "a_cloud_guru_adapter",
                "status": "success",
                "unique_plugin_name": "a_cloud_guru_adapter_0",
                "connections": [
                  {
                    "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                    "active": true,
                    "connection_id": "conn_12345",
                    "error": null,
                    "adapter_name": "a_cloud_guru_adapter",
                    "connection_config": {},
                    "curl": null,
                    "failed_connections_limit_exceeded": false,
                    "last_fetch_time": "Sat, 08 Mar 2025 18:53:09 GMT",
                    "note": "",
                    "status": "success",
                    "tunnel_id": "khnsjhgvcskdbvnksdjahubnkvdhb",
                    "uuid": "c69070fgredffedfgrfedcfd9e5e145e4861f2843d1951ab2",
                    "connection_adapter_config": {},
                    "connection_advanced_config": {},
                    "connection_discovery": {},
                    "did_notify_error": false,
                    "id": "conn_12345",
                    "last_successful_fetch": "Sat, 08 Mar 2025 18:53:09 GMT"
                  }
                ]
              },
              {
                "id": "a10_networks_adapter",
                "adapter_configs": {},
                "connections_count": {
                  "error_count": 0,
                  "inactive_count": 0,
                  "success_count": 1,
                  "total_count": 1,
                  "warning_count": 0
                },
                "is_master": true,
                "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                "node_name": "Primary",
                "plugin_name": "a10_networks_adapter",
                "status": "error",
                "unique_plugin_name": "a10_networks_adapter_0",
                "connections": [
                  {
                    "node_id": "c69070d9e5e145e4861f2843d1951ab2",
                    "active": true,
                    "connection_id": "conn_12345",
                    "error": null,
                    "adapter_name": "a10_networks_adapter",
                    "connection_config": {},
                    "curl": null,
                    "failed_connections_limit_exceeded": false,
                    "last_fetch_time": "Sat, 08 Mar 2025 18:53:09 GMT",
                    "note": "",
                    "status": "success",
                    "tunnel_id": "khnsjhgvcskdbvnksdjahubnkvdhb",
                    "uuid": "c69070fgredffedfgrfedcfd9e5e145e4861f2843d1951ab2",
                    "connection_adapter_config": {},
                    "connection_advanced_config": {},
                    "connection_discovery": {},
                    "did_notify_error": false,
                    "id": "conn_12345",
                    "last_successful_fetch": "Sat, 08 Mar 2025 18:53:09 GMT"
                  }
                ]
              }
            ]
          }
          `}}
