title: Kubernetes Event metrics
type: metrics
streams:
  - input: kubernetes/metrics
    vars:
      - name: period
        type: text
        title: Period
        multi: false
        required: true
        show_user: true
        default: 10s
      - name: add_metadata
        type: bool
        title: Add Metadata
        multi: false
        required: true
        show_user: true
        default: true
      - name: skip_older
        type: bool
        title: Skip older events
        multi: false
        required: false
        show_user: true
        default: true
      - name: leaderelection
        type: bool
        title: Leader Election
        multi: false
        required: true
        show_user: true
        default: true
    title: Kubernetes Event metrics
    description: Collect Kubernetes Event metrics
