version: '2.3'
services:
  rapid7_insightvm:
    image: docker.elastic.co/observability/stream:v0.15.0
    hostname: rapid7_insightvm
    ports:
      - 8080
    volumes:
      - ./files:/files:ro
    environment:
      PORT: '8080'
    command:
      - http-server
      - --addr=:8080
      - --config=/files/config.yml
