version: '2.3'
services:
  symantec_edr_cloud-incident:
    image: docker.elastic.co/observability/stream:v0.15.0
    hostname: symantec_edr_cloud-incident
    ports:
      - 8090
    volumes:
      - ./files:/files:ro
    environment:
      PORT: '8090'
    command:
      - http-server
      - --addr=:8090
      - --config=/files/config-incident.yml
