# Everything outside of packages is maintained by the ecosystem team.
* @elastic/ecosystem

# Default owner of packages, which will triage new packages and assignment to other teams.
/packages/ @elastic/integrations-triaging

# CODEOWNERS file is checked by CI.
/.github/CODEOWNERS

# Package owners below.
# Please keep the list sorted.
/packages/infoblox @elastic/security-service-integrations
/packages/kubernetes @elastic/obs-ds-hosted-services
/packages/kubernetes/kibana @elastic/obs-ds-hosted-services
