# Everything outside of packages is maintained by the ecosystem team.
* @elastic/ecosystem

# Default owner of packages, which will triage new packages and assignment to other teams.
/packages/ @elastic/integrations-triaging

# CODEOWNERS file is checked by CI.
/.github/CODEOWNERS

# GH Actions Workflow co-owners below.
# Please keep the list sorted.
/.github/workflows/trigger-package-tests-security-ml.yml @elastic/threat-research-and-detection-engineering

# Package owners below.
# Please keep the list sorted.
/packages/auditd @elastic/security-service-integrations
/packages/infoblox @elastic/security-service-integrations @elastic/sit-crest-contractors
