- name: kubernetes.daemonset
  type: group
  fields:
    - name: name
      dimension: true
      type: keyword
    - name: replicas
      type: group
      description: |
        Kubernetes DaemonSet replica metrics
      fields:
        - name: available
          type: long
          metric_type: gauge
          description: |
            The number of available replicas per DaemonSet
        - name: desired
          type: long
          metric_type: gauge
          description: |
            The desired number of replicas per DaemonSet
        - name: ready
          type: long
          metric_type: gauge
          description: |
            The number of ready replicas per DaemonSet
        - name: unavailable
          type: long
          metric_type: gauge
          description: |
            The number of unavailable replicas per DaemonSet
