format_version: 1.0.0
name: kubernetes
title: Kubernetes
version: 1.27.0
license: basic
description: Collect logs and metrics from Kubernetes clusters with Elastic Agent.
type: integration
categories:
  - containers
  - kubernetes
release: ga
conditions:
  kibana.version: "^8.5.0"
screenshots:
  - src: /img/metricbeat_kubernetes_overview.png
    title: Metricbeat Kubernetes Overview
    size: 1896x961
    type: image/png
icons:
  - src: /img/logo_kubernetes.svg
    title: Logo Kubernetes
    size: 32x32
    type: image/svg+xml
policy_templates:
  - name: kubelet
    title: Kubelet Metrics
    description: Collect metrics from Kubernetes Kubelet API with Elastic Agent.
    data_streams:
      - container
      - node
      - pod
      - system
      - volume
    inputs:
      - type: kubernetes/metrics
        title: Collect Kubernetes metrics from Kubelet API
        description: Collecting Node, Pod, Container, Volume and System metrics from Kubelet
        input_group: metrics
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat_kubernetes_overview.png
        title: Metricbeat Kubernetes Overview
        size: 1896x961
        type: image/png
  - name: kube-state-metrics
    title: Kube-state-metrics
    description: Collect container metrics from Kubernetes Kube-state-metrics with Elastic Agent.
    data_streams:
      - state_container
      - state_cronjob
      - state_daemonset
      - state_deployment
      - state_job
      - state_node
      - state_persistentvolume
      - state_persistentvolumeclaim
      - state_pod
      - state_replicaset
      - state_resourcequota
      - state_service
      - state_statefulset
      - state_storageclass
    inputs:
      - type: kubernetes/metrics
        title: Collect Kubernetes metrics from kube-state-metrics
        description: Collecting metrics from kube-state-metrics (container, cronjob, deployment, daemonset, node, persistentvolume, persistentvolumeclaim, pod, replicaset, resourcequota, service, statefulset, storageclass)
        input_group: metrics
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat_kubernetes_overview.png
        title: Metricbeat Kubernetes Overview
        size: 1896x961
        type: image/png
  - name: kube-apiserver
    title: Kube-apiserver Metrics
    description: Collect metrics from Kubernetes API Server with Elastic Agent.
    data_streams:
      - apiserver
    inputs:
      - type: kubernetes/metrics
        title: Collect Kubernetes metrics from Kubernetes API Server
        description: Collecting metrics from Kubernetes API Server
        input_group: metrics
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat_kubernetes_overview.png
        title: Metricbeat Kubernetes Overview
        size: 1896x961
        type: image/png
  - name: kube-proxy
    title: Kube-proxy Metrics
    description: Collect metrics from Kubernetes Proxy server with Elastic Agent.
    data_streams:
      - proxy
    inputs:
      - type: kubernetes/metrics
        title: Collect Kubernetes metrics from Kubernetes Proxy
        description: Collecting metrics from Kubernetes Proxy
        input_group: metrics
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat-kubernetes-proxy.png
        title: Metricbeat Kubernetes Proxy
        size: 1854x920
        type: image/png
  - name: kube-scheduler
    title: Kube-scheduler Metrics
    description: Collect metrics from Kubernetes Scheduler with Elastic Agent.
    data_streams:
      - scheduler
    inputs:
      - type: kubernetes/metrics
        title: Collect Kubernetes metrics from Kubernetes Scheduler
        description: Collecting metrics from Kubernetes Scheduler
        input_group: metrics
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat_kubernetes_scheduler.png
        title: Metricbeat Kubernetes Scheduler
        size: 1856x897
        type: image/png
  - name: kube-controller-manager
    title: Kube-controller-manager Metrics
    description: Collect metrics from Kubernetes Controller Manager with Elastic Agent.
    data_streams:
      - controllermanager
    inputs:
      - type: kubernetes/metrics
        title: Collect Kubernetes metrics from Kubernetes controller-manager
        description: Collecting metrics from Kubernetes controller-manager
        input_group: metrics
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat-kubernetes-controllermanager.png
        title: Metricbeat Kubernetes Controller Manager
        size: 1896x961
        type: image/png
  - name: events
    title: Kubernetes Event Metrics
    description: Collect events related metrics from Kubernetes API server with Elastic Agent.
    data_streams:
      - event
    inputs:
      - type: kubernetes/metrics
        title: Collect Kubernetes events from Kubernetes API Server
        description: Collecting events from Kubernetes API Server
        input_group: metrics
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat_kubernetes_overview.png
        title: Metricbeat Kubernetes Overview
        size: 1896x961
        type: image/png
  - name: container-logs
    title: Kubernetes Container Logs
    description: Collect container related logs from Kubernetes clusters with Elastic Agent.
    data_streams:
      - container_logs
    inputs:
      - type: filestream
        title: Collect Kubernetes container logs
        description: Collect Kubernetes container logs
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat_kubernetes_overview.png
        title: Metricbeat Kubernetes Overview
        size: 1896x961
        type: image/png
  - name: audit-logs
    title: Kubernetes Audit Logs
    description: Collect audit logs from Kubernetes nodes with Elastic Agent.
    data_streams:
      - audit_logs
    inputs:
      - type: filestream
        title: Collect Kubernetes audit logs
        description: Collect Kubernetes audit logs
    icons:
      - src: /img/logo_kubernetes.svg
        title: Logo Kubernetes
        size: 32x32
        type: image/svg+xml
    screenshots:
      - src: /img/metricbeat_kubernetes_overview.png
        title: Metricbeat Kubernetes Overview
        size: 1896x961
        type: image/png
owner:
  github: elastic/obs-cloudnative-monitoring
