format_version: 1.0.0
name: kubernetes
title: Kubernetes
version: 0.0.1
license: basic
description: Kubernetes Integration
type: integration
categories:
- metrics
release: beta
removable: true
requirement:
  kibana:
    versions: '>=7.3.0 <8.0.0'
  elasticsearch: {}
screenshots:
- src: /img/metricbeat-kubernetes-overview.png
  title: metricbeat kubernetes overview
  size: 1896x961
  type: image/png
- src: /img/metricbeat-kubernetes-controllermanager.png
  title: metricbeat kubernetes controllermanager
  size: 1896x961
  type: image/png
- src: /img/metricbeat_kubernetes_scheduler.png
  title: metricbeat kubernetes scheduler
  size: 1856x897
  type: image/png
- src: /img/metricbeat-kubernetes-proxy.png
  title: metricbeat kubernetes proxy
  size: 1854x920
  type: image/png
icons:
- src: /img/logo_kubernetes.svg
  title: logo kubernetes
  size: 32x32
  type: image/svg+xml
datasources:
- name: kubernetes
  title: Kubernetes metrics
  description: Collect metrics from Kubernetes
  inputs:
  - type: kubernetes/metrics
    title: Collect Kubernetes apiserver, container, controllermanager, event, node, pod, proxy, scheduler, state_container, state_cronjob, state_deployment, state_node, state_persistentvolume, state_persistentvolumeclaim, state_pod, state_replicaset, state_resourcequota, state_service, state_statefulset, state_storageclass, system and volume metrics
    description: Collecting apiserver, container, controllermanager, event, node, pod, proxy, scheduler, state_container, state_cronjob, state_deployment, state_node, state_persistentvolume, state_persistentvolumeclaim, state_pod, state_replicaset, state_resourcequota, state_service, state_statefulset, state_storageclass, system and volume metrics from Kubernetes instances
