rules:
  - path: /breach/catalog
    methods: ['GET']
    query_params:
      cursor: "abcd"
    request_headers:
      x-api-key:
        - 'xxxx'
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cursor":"","hits":1,"results":[{"title":"Sensitive Source","spycloud_publish_date":"2022-11-24T00:00:00Z","description":"This source has been marked as sensitive due to one of the following reasons: Revealing the source may compromise an on-going investigation. The affected site is of a controversial nature but does not validate email addresses and could therefore be used to tarnish an employee's reputation.","confidence":3,"id":39997,"acquisition_date":"2022-10-14T00:00:00Z","uuid":"9f5bf34b-092e-46f4-b87f-02c91b0adb3a","type":"PRIVATE","num_records":177225,"assets":{"gender":119505,"address_2":363,"phone":511,"full_name":177030,"social_twitter":57193,"job_title":160712,"dob":198,"country_code":177225,"industry":162612,"middle_name":17749,"first_name":177114,"social_facebook":51841,"email":177219,"country":177225,"last_name":177099,"postal_code":1971,"city":1859,"age":817}}]}
  - path: /breach/catalog
    methods: ['GET']
    request_headers:
      x-api-key:
        - 'xxxx'
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cursor":"abcd","hits":1,"results":[{"title":"Sensitive Source","spycloud_publish_date":"2022-11-24T00:00:00Z","description":"This source has been marked as sensitive due to one of the following reasons: Revealing the source may compromise an on-going investigation. The affected site is of a controversial nature but does not validate email addresses and could therefore be used to tarnish an employee's reputation.","confidence":3,"id":39997,"acquisition_date":"2022-10-14T00:00:00Z","uuid":"9f5bf34b-092e-46f4-b87f-02c91b0adb3a","type":"PRIVATE","num_records":177225,"assets":{"gender":119505,"address_2":363,"phone":511,"full_name":177030,"social_twitter":57193,"job_title":160712,"dob":198,"country_code":177225,"industry":162612,"middle_name":17749,"first_name":177114,"social_facebook":51841,"email":177219,"country":177225,"last_name":177099,"postal_code":1971,"city":1859,"age":817}}]}
  - path: /breach/data/watchlist
    methods: ['GET']
    request_headers:
      x-api-key:
        - 'xxxx'
    query_params:
      cursor: "pqrs"
      severity: '25'
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cursor":"","hits":1,"results":[{ "infected_time": "2023-01-15T12:30:45Z", "spycloud_publish_date": "2023-01-20T08:00:00Z", "severity": 3, "infected_path": "/documents/confidential", "target_url": "https://example.com/login", "document_id": "3350f1da-fa39-4415-b2cc-02057e2fbe99", "user_sys_domain": "8ad8.default", "country_code": "US", "country": "United States", "user_hostname": "workstation-1", "user_os": "Windows 10", "homepage": "https://www.chess.com/member/sarahjoh", "target_domain": "example.com", "email": "john.doe@example.com", "full_name": "John Doe", "email_domain": "example.com", "email_username": "john.doe", "username": "john_doe", "password": "P@ssw0rd123", "password_plaintext": "******", "password_type": "alphanumeric", "user_browser": "Chrome", "ip_addresses": ["89.160.20.128", "89.160.20.112"], "infected_machine_id": "ABC123", "av_softwares": ["McAfee", "Windows Defender"], "log_id": "76afa48107ec32f51a2aba4a314357c1e69d2267f1b04bf1afc948d0f77b1658", "user_sys_registered_owner": "John Milk", "source_id": 50436, "target_subdomain": "login.example.com", "domain": "example1.com", "sighting": 17, "keyboard_languages": ["English", "Spanish"], "display_resolution": "1920x1080", "account_image_url": "https://www.chess.com/bundles/web/images/noavatar_l.84a92436.gif", "salt": "fbbdhd", "cc_bin": "489486", "cc_expiration": "06/2025", "account_signup_time": "2016-07-29T18:47:11Z", "cc_last_four": "1237", "cc_number": "3fdd0ce028ffaa147afdb6461f6ce95f8c07f484", "company_name": "ABC Corporation", "first_name": "John", "industry": "Technology", "job_title": "Software Engineer", "last_name": "Doe", "account_login_time": "2018-06-29T23:51:46Z", "record_cracked_date": "2023-11-29T00:00:00Z", "account_modification_time": "2018-06-29T23:51:10Z", "record_modification_date": "2023-11-29T00:00:00Z", "record_addition_date": "2023-12-06T00:00:00Z", "social_linkedin": ["ildar-bazanov-961b14160"] }]}
  - path: /breach/data/watchlist
    methods: ['GET']
    request_headers:
      x-api-key:
        - 'xxxx'
    query_params:
      severity: '25'
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cursor":"pqrs","hits":1,"results":[{ "infected_time": "2023-01-15T12:30:45Z", "spycloud_publish_date": "2023-01-20T08:00:00Z", "severity": 3, "infected_path": "/documents/confidential", "target_url": "https://example.com/login", "document_id": "3350f1da-fa39-4415-b2cc-02057e2fbe99", "user_sys_domain": "8ad8.default", "country_code": "US", "country": "United States", "user_hostname": "workstation-1", "user_os": "Windows 10", "homepage": "https://www.chess.com/member/sarahjoh", "target_domain": "example.com", "email": "john.doe@example.com", "full_name": "John Doe", "email_domain": "example.com", "email_username": "john.doe", "username": "john_doe", "password": "P@ssw0rd123", "password_plaintext": "******", "password_type": "alphanumeric", "user_browser": "Chrome", "ip_addresses": ["89.160.20.128", "89.160.20.112"], "infected_machine_id": "ABC123", "av_softwares": ["McAfee", "Windows Defender"], "log_id": "76afa48107ec32f51a2aba4a314357c1e69d2267f1b04bf1afc948d0f77b1658", "user_sys_registered_owner": "John Milk", "source_id": 50436, "target_subdomain": "login.example.com", "domain": "example1.com", "sighting": 17, "keyboard_languages": ["English", "Spanish"], "display_resolution": "1920x1080", "account_image_url": "https://www.chess.com/bundles/web/images/noavatar_l.84a92436.gif", "salt": "fbbdhd", "cc_bin": "489486", "cc_expiration": "06/2025", "account_signup_time": "2016-07-29T18:47:11Z", "cc_last_four": "1237", "cc_number": "3fdd0ce028ffaa147afdb6461f6ce95f8c07f484", "company_name": "ABC Corporation", "first_name": "John", "industry": "Technology", "job_title": "Software Engineer", "last_name": "Doe", "account_login_time": "2018-06-29T23:51:46Z", "record_cracked_date": "2023-11-29T00:00:00Z", "account_modification_time": "2018-06-29T23:51:10Z", "record_modification_date": "2023-11-29T00:00:00Z", "record_addition_date": "2023-12-06T00:00:00Z", "social_linkedin": ["ildar-bazanov-961b14160"] }]}
  - path: /compass/data
    methods: ['GET']
    query_params:
      cursor: 'xyz'
    request_headers:
      x-api-key:
        - 'xxxx'
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cursor":"","hits":1,"results":[{"user_browser":"Google Chrome [Default]","password":"********","document_id":"3807a672-e5c4-4a58-8ade-93a690136c24","source_id":40351,"email":"wer****************r@gmail.com","ip_addresses":["110.18.12.120"],"country":"PHILIPPINES","infected_machine_id":"76c9a60b-1d06-4bc1-8e08-4f07f82c0bdd","infected_path":"C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\AppLaunch.exe","user_os":"Windows 10 Home Single Language [x64]","av_softwares":["Windows Defender"],"log_id":"fc201cf30d2727c57f07f05f3ab6ee43c7260609d973d508f818c1abcc4fcb39","user_hostname":"LAPTOP-4G2P1N13","user_sys_registered_owner":"NewAdmin","keyboard_languages":"english (united states)","target_url":"application.sparefactor.com","infected_time":"2022-08-11T18:02:31Z","spycloud_publish_date":"2022-11-17T00:00:00Z","email_domain":"gmail.com","email_username":"wer****************r","domain":"gmail.com","target_domain":"sparefactor.com","target_subdomain":"application.sparefactor.com","password_type":"plaintext","password_plaintext":"********","country_code":"PH","severity":25}]}
  - path: /compass/data
    methods: ['GET']
    request_headers:
      x-api-key:
        - 'xxxx'
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cursor":"xyz","hits":1,"results":[{"user_browser":"Google Chrome [Default]","password":"********","document_id":"3807a672-e5c4-4a58-8ade-93a690136c24","source_id":40351,"email":"wer****************r@gmail.com","ip_addresses":["110.18.12.120"],"country":"PHILIPPINES","infected_machine_id":"76c9a60b-1d06-4bc1-8e08-4f07f82c0bdd","infected_path":"C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\AppLaunch.exe","user_os":"Windows 10 Home Single Language [x64]","av_softwares":["Windows Defender"],"log_id":"fc201cf30d2727c57f07f05f3ab6ee43c7260609d973d508f818c1abcc4fcb39","user_hostname":"LAPTOP-4G2P1N13","user_sys_registered_owner":"NewAdmin","keyboard_languages":"english (united states)","target_url":"application.sparefactor.com","infected_time":"2022-08-11T18:02:31Z","spycloud_publish_date":"2022-11-17T00:00:00Z","email_domain":"gmail.com","email_username":"wer****************r","domain":"gmail.com","target_domain":"sparefactor.com","target_subdomain":"application.sparefactor.com","password_type":"plaintext","password_plaintext":"********","country_code":"PH","severity":25}]}
