title: Prometheus remote_write metrics
release: experimental
type: metrics
streams:
  - input: prometheus/metrics
    vars:
      - name: host
        type: text
        title: Host
        multi: false
        required: true
        show_user: true
        default: localhost
      - name: port
        type: text
        title: Port
        multi: false
        required: true
        show_user: true
        default: "9201"
      - name: ssl.enabled
        type: bool
        title: Enabled SSL
        multi: false
        required: true
        show_user: true
        default: false
      - name: ssl.certificate
        type: text
        title: SSL Certificate
        multi: false
        required: false
        show_user: true
        default: /etc/pki/server/cert.pem
      - name: ssl.key
        type: text
        title: SSL Key
        multi: false
        required: false
        show_user: true
        default: /etc/pki/server/cert.key
      - name: rate_counters
        type: bool
        title: Rate Counters
        multi: false
        required: true
        show_user: true
        default: true
      - name: use_types
        type: bool
        title: Use Types
        multi: false
        required: true
        show_user: true
        default: true
      - name: types_patterns.counter_patterns
        type: text
        title: Counter Type Patterns
        multi: true
        required: false
        show_user: true
        default: []
      - name: types_patterns.histogram_patterns
        type: text
        title: Histogram Type Patterns
        multi: true
        required: false
        show_user: true
        default: []
    title: Prometheus remote write metrics
    enabled: false
    description: Collect Prometheus remote write metrics
