services:
  admin_by_request_epm:
    image: docker.elastic.co/observability/stream:v0.18.0
    hostname: admin_by_request_epm
    ports:
      - 8080
    volumes:
      - ./files:/files:ro
    environment:
      PORT: '8080'
    command:
      - http-server
      - --addr=:8080
      - --config=/files/config.yml
