rules:
  - path: /test-cel-tenant-id/oauth2/v2.0/token
    methods: [POST]
    query_params:
      client_id: test-cel-client-id
      client_secret: test-cel-client-secret
      grant_type: client_credentials
      scope: https://manage.office.com/.default
    request_headers:
      Content-Type:
        - "application/x-www-form-urlencoded"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {{ minify_json `
          {
              "access_token": "CELtoken",
              "token_type": "Bearer",
              "expires_in": 3600,
              "ext_expires_in": 3600
          }
          `}}
  - path: /api/v1.0/test-cel-tenant-id/activity/feed/subscriptions/start
    methods: [POST]
    query_params:
      contentType: "Audit.SharePoint"
      PublisherIdentifier: test-cel-tenant-id
    request_headers:
      Authorization:
        - "Bearer CELtoken"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {{ minify_json `
          {
              "contentType": "Audit.SharePoint",
              "status": "enabled",
              "webhook": null
          }
          `}}
  - path: /api/v1.0/test-cel-tenant-id/activity/feed/subscriptions/start
    methods: [POST]
    query_params:
      contentType: "Audit.General"
      PublisherIdentifier: test-cel-tenant-id
    request_headers:
      Authorization:
        - "Bearer CELtoken"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {{ minify_json `
          {
              "contentType": "Audit.General",
              "status": "enabled",
              "webhook": null
          }
          `}}
  - path: /api/v1.0/test-cel-tenant-id/activity/feed/subscriptions/content
    methods: [GET]
    query_params:
      contentType: "Audit.General"
      startTime: "{startTime:.*}"
      endTime: "{endTime:.*}"
      PublisherIdentifier: test-cel-tenant-id
    request_headers:
      Authorization:
        - "Bearer CELtoken"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          [{"contentType": "Audit.General","contentId": "celid3","contentUri": "http://svc-o365:8082/api/v1.0/celgen1/activity/feed/audit/celid3","contentCreated": "{{ .request.vars.endTime }}","contentExpiration": "2199-05-30T17:35:00.000Z"}]
  - path: /api/v1.0/celgen1/activity/feed/audit/celid3
    methods: [GET]
    request_headers:
      Authorization:
        - "Bearer CELtoken"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |
          [
          {{- $g := glob "/var/log/corpus-*" -}}
          {{- range $g -}}
            {{- file . -}}
          {{- end -}}
          {{/* A last line of hard-coded data is required to avoid empty string from being sent to CEL program in the final line */}}
          { "ListItemUniqueId": "longcondor", "ItemType": "lavendercurtain", "Workload": "eveningraven", "OrganizationId": "coconutkeeper", "UserId": "ribboneye", "Site": "blossomsalmon", "WebId": "bonemask", "UserType": 0, "Version": 9, "UserAgent": "cherryelk", "UserKey": "rhinestonehisser", "CustomUniqueId": false, "Operation": "daisytooth", "ObjectId": "rustthorn", "Id": "6", "CorrelationId": "runemind", "RecordType": 6 }
          ]
