version: '2.3'
services:
  netskope-alerts-tcp:
    image: docker.elastic.co/observability/stream:v0.6.2
    volumes:
      - ./sample_logs:/sample_logs:ro
    entrypoint: /bin/bash
    command: -c "/stream log --start-signal=SIGHUP --delay=5s --addr elastic-agent:9020 -p=tcp /sample_logs/alerts.log"
  netskope-events-tcp:
    image: docker.elastic.co/observability/stream:v0.6.2
    volumes:
      - ./sample_logs:/sample_logs:ro
    entrypoint: /bin/bash
    command: -c "/stream log --start-signal=SIGHUP --delay=5s --addr elastic-agent:9021 -p=tcp /sample_logs/events.log"
