fields:
  - name: 'timestamp'
    period: -24h # one day
  - name: agent.id
    value: "ef5e274d-4b53-45e6-943a-a5bcf1a6f523"
  - name: log.level
    enum: ["debug", "info", "notice", "warn", "error", "crit", "alert", "emerg"]
  - name: process.pid
    range:
      min: 1
      max: 100000
  - name: thread.id
    range:
      min: 1
      max: 100000
  - name: connection_id
    range:
      min: 1
      max: 100000
  - name: request.method
    enum: ["POST", "GET", "PUT", "DELETE"]
  - name: request.path
    enum:
      - "/favicon.ico"
      - "/index.html"
      - "/foo/bar.php"
  - name: referer.host.name
    enum:
      - "localhost"
      - "google.com"
  - name: host.name
    enum:
      - "localhost"
      - "elastic.co"
