services:
  couchbase:
    image: couchbase/server-sandbox:${COUCHBASE_VERSION:-7.1.0}
    hostname: cb
    volumes:
      - ./files/setup.sh:/setup.sh
      - ./files/entrypoint.sh:/entrypoint.sh
    healthcheck:
      test: ["CMD", "curl", "-s", "-f", "http://Administrator:password@localhost:8091/pools/default/buckets/beer-sample/stats"]
      interval: 3s
      timeout: 3s
      retries: 30
      start_period: 15s
    ports:
      - 8091
  sgw:
    image: couchbase/sync-gateway:2.8.0-enterprise
    hostname: sgw
    depends_on:
      couchbase:
        condition: service_healthy
    volumes:
      - ./files/sync-gateway-config.txt:/etc/sync_gateway/sync_gateway.json
    command: -adminInterface :4985 /etc/sync_gateway/sync_gateway.json
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:4985 || exit 1"]
      interval: 3s
      timeout: 3s
      retries: 30
      start_period: 10s
    ports:
      - 4985
  exporter:
    build:
      context: ./files/
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "curl", "-s", "-f", "http://localhost:9421/metrics"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 5s
    ports:
      - 9421
    depends_on:
      sgw:
        condition: service_healthy
