services:
  grafana:
    image: grafana/grafana:${GRAFANA_VERSION:-11.5.2}
    user: "0"
    ports:
      - "3000"
    environment:
      GF_METRICS_ENABLED: "true"
      GF_LOG_MODE: "console file"
      GF_LOG_CONSOLE_FORMAT: "json"
      GF_LOG_FILE_FORMAT: "${LOG_FILE_FORMAT:-text}"
      GF_LOG_LEVEL: "info"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
      GF_PATHS_LOGS: "/var/log/grafana"
    volumes:
      - ${SERVICE_LOGS_DIR}:/var/log/grafana
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000/api/health"]
      interval: 5s
      timeout: 3s
      retries: 30
