version: '2.3'
services:
  mysql-audit-logfile:
    image: alpine
    volumes:
      - ./sample_logs:/sample_logs:rw
      - ${SERVICE_LOGS_DIR}:/var/log
    command: /bin/sh -c "cp /sample_logs/* /var/log/"
