rules:
  - path: /api/v1/test_ws_id/alert
    methods: [GET]
    query_params:
      page: 2
      per_page: 50
      sort_by: created_date
      sort: asc
    responses:
      - status_code: 200
        body: |-
          {{ minify_json `
          {
            "results": [
              {
                "updated_date": "2024-11-12T09:39:58.489Z",
                "created_date": "2024-11-12T09:39:58.489Z",
                "id": 1003,
                "details": {
                  "id": 100,
                  "engine": "Port Scanner",
                  "title": "New Open Port"
                },
                "severity": "medium",
                "affected_entities": 2,
                "alert_outcome": "affected",
                "alert_status": "resolved",
                "customer_state": "open",
                "alert_payload": [],
                "type_id": 100
              }
            ],
            "pagination": {
              "next": "page3",
              "page": "2"
            }
          }
          `}}
  - path: /api/v1/test_ws_id/alert
    methods: [GET]
    query_params:
      page: 3
      per_page: 50
      sort_by: created_date
      sort: asc
    responses:
      - status_code: 200
        body: |-
          {{ minify_json `
          {
            "results": [
              {
                "updated_date": "2024-11-12T09:39:58.489Z",
                "created_date": "2024-11-12T09:39:58.489Z",
                "id": 1002,
                "details": {
                  "id": 100,
                  "engine": "Port Scanner",
                  "title": "New Open Port"
                },
                "severity": "medium",
                "affected_entities": 2,
                "alert_outcome": "affected",
                "alert_status": "resolved",
                "customer_state": "open",
                "alert_payload": [],
                "type_id": 100
              }
            ],
            "pagination": {
              "next": "",
              "page": "3"
            }
          }
          `}}
  - path: /api/v1/test_ws_id/alert
    methods: [GET]
    query_params:
      per_page: 50
      sort_by: created_date
      sort: asc
    responses:
      - status_code: 200
        body: |-
          {{ minify_json `
          {
            "results": [
              {
                "updated_date": "2024-11-12T09:39:58.489Z",
                "created_date": "2024-11-12T09:39:58.489Z",
                "id": 1001,
                "details": {
                  "id": 100,
                  "engine": "Port Scanner",
                  "title": "New Open Port"
                },
                "severity": "medium",
                "affected_entities": 2,
                "alert_outcome": "affected",
                "alert_status": "resolved",
                "customer_state": "open",
                "alert_payload": [],
                "type_id": 100
              }
            ],
            "pagination": {
              "next": "page2",
              "page": "1"
            }
          }
          `}}
