rules:
  - path: /api/v1/test_ws_id/alert
    methods: [GET]
    query_params:
      page: 2
      per_page: 50
      sort_by: created_date
      sort: asc
    responses:
      - status_code: 200
        body: |-
          {{ minify_json `
          {
            "results": [
            {
              "updated_date": "2026-02-03T06:17:57.260Z",
              "created_date": "2026-02-03T06:17:57.260Z",
              "id": "1fa85f64-5717-4562-b3fc-2c963f66afa6",
              "name": "External Vulnerability",
              "type": "ExternalVulnerabilityDiscovered",
              "severity": "medium",
              "status": "new",
              "analysis": "ongoing",
              "category": "vulnerability",
              "activities": [
                {
                  "updated_date": "2026-02-03T06:17:57.260Z",
                  "created_date": "2026-02-03T06:17:57.260Z",
                  "id": "1fa85f64-5717-4562-b3fc-2c963f66afa5",
                  "type": "ExternalVulnerabilityCreated",
                  "description": "A Critical severity external vulnerability 'Blind SQL Injection via HTTP Header' has been detected on asset 'demo.example.com'",
                  "category": "threat",
                  "trace_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "data": {
                  }
                }
              ]
            }
            ],
            "pagination": {
              "next": "page3",
              "page": "2"
            }
          }
          `}}
  - path: /api/v1/test_ws_id/alert
    methods: [GET]
    query_params:
      page: 3
      per_page: 50
      sort_by: created_date
      sort: asc
    responses:
      - status_code: 200
        body: |-
          {{ minify_json `
          {
            "results": [
            {
              "updated_date": "2026-02-03T06:17:57.260Z",
              "created_date": "2026-02-03T06:17:57.260Z",
              "id": "2fa85f64-5717-4562-b3fc-2c963f66afa6",
              "name": "External Vulnerability",
              "type": "ExternalVulnerabilityDiscovered",
              "severity": "medium",
              "status": "new",
              "analysis": "ongoing",
              "category": "vulnerability",
              "activities": [
                {
                  "updated_date": "2026-02-03T06:17:57.260Z",
                  "created_date": "2026-02-03T06:17:57.260Z",
                  "id": "2fa85f64-5717-4562-b3fc-2c963f66afa5",
                  "type": "ExternalVulnerabilityCreated",
                  "description": "A Critical severity external vulnerability 'Blind SQL Injection via HTTP Header' has been detected on asset 'demo.example.com'",
                  "category": "threat",
                  "trace_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "data": {
                  }
                }
              ]
            }
            ],
            "pagination": {
              "next": "",
              "page": "3"
            }
          }
          `}}
  - path: /api/v1/test_ws_id/alert
    methods: [GET]
    query_params:
      per_page: 50
      sort_by: created_date
      sort: asc
    responses:
      - status_code: 200
        body: |-
          {{ minify_json `
          {
            "results": [
            {
              "updated_date": "2026-02-03T06:17:57.260Z",
              "created_date": "2026-02-03T06:17:57.260Z",
              "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
              "name": "External Vulnerability",
              "type": "ExternalVulnerabilityDiscovered",
              "severity": "medium",
              "status": "new",
              "analysis": "ongoing",
              "category": "vulnerability",
              "activities": [
                {
                  "updated_date": "2026-02-03T06:17:57.260Z",
                  "created_date": "2026-02-03T06:17:57.260Z",
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa5",
                  "type": "ExternalVulnerabilityCreated",
                  "description": "A Critical severity external vulnerability 'Blind SQL Injection via HTTP Header' has been detected on asset 'demo.example.com'",
                  "category": "threat",
                  "trace_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "data": {
                  }
                }
              ]
            }
            ],
            "pagination": {
              "next": "page2",
              "page": "1"
            }
          }
          `}}
