- name: traefik.access
  type: group
  fields:
    - name: user_identifier
      type: keyword
      description: |
        Is the RFC 1413 identity of the client
    - name: request_count
      type: long
      description: |
        The number of requests
    - name: frontend_name
      type: keyword
      description: |
        The name of the frontend used
    - name: backend_url
      type: keyword
      description: The url of the backend where request is forwarded
    - name: user_agent
      type: group
      fields:
        - name: os
          type: alias
          path: user_agent.os.full_name
    - name: geoip
      type: group
- name: input.type
  type: keyword
  description: Input type
- name: log.offset
  type: long
  description: Log offset
