rules:
  # Base auth rule
  - path: /tenant_id/oauth2/v2.0/token
    methods: [POST]
    query_params:
      client_id: test-app-id
      client_secret: test-secret
      grant_type: client_credentials
      scope: "{scope:.*}"
    request_headers:
      Content-Type:
        - "application/x-www-form-urlencoded"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {"access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ilg1ZVhrN","token_type": "Bearer","not_before": 1549647431,"expires_in": 3600,"resource": "f2a76e08-93f2-4350-833c-965c02483b11"}
  # start normal httpjson test
  - path: /ecp/reportingwebservice/reporting.svc/MessageTrace
    methods: [GET]
    request_headers:
      Authorization:
        - "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ilg1ZVhrN"
    query_params:
      $top: "{$top:2}"
      $skiptoken: "{$skiptoken:0}"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {
            "odata.metadata":"https://reports.office365.com/ecp/ReportingWebService/Reporting.svc/$metadata#MessageTrace",
            "value":
            [
              {"Organization":"contoso.com","MessageId":"<a210cf91-4f2e-484c-8ada-3b27064ee5e3@az.uksouth.production.microsoft.com>","Received":"2022-09-05T18:10:13.4907658","SenderAddress":"azure-noreply@microsoft.com","RecipientAddress":"linus@contoso.com","Subject":"PIM: A privileged directory role was assigned outside of PIM","Status":"Delivered","ToIP":"216.160.83.56","FromIP":"81.2.69.144","Size":87891,"MessageTraceId":"cf7a249a-5edd-4350-130a-08da8f69e0f6","StartDate":"2022-09-04T09:01:46.0369423Z","EndDate":"2022-09-06T09:01:46.0369423Z","Index":0},
              {"Organization":"contoso.com","MessageId":"<a210cf91-4f2e-484c-8ada-3b27064ee5e3@az.uksouth.production.microsoft.com>","Received":"2022-09-05T18:10:13.4907658","SenderAddress":"azure-noreply@microsoft.com","RecipientAddress":"linus@contoso.com","Subject":"PIM: A privileged directory role was assigned outside of PIM","Status":"Delivered","ToIP":"216.160.83.56","FromIP":"81.2.69.144","Size":87891,"MessageTraceId":"cf7a249a-5edd-4350-130a-08da8f69e0f9","StartDate":"2022-09-04T09:01:46.0369423Z","EndDate":"2022-09-06T09:01:46.0369423Z","Index":4}
            ]
          }
  - path: /ecp/reportingwebservice/reporting.svc/MessageTrace
    methods: [GET]
    request_headers:
      Authorization:
        - "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ilg1ZVhrN"
    query_params:
      $top: "{$top:2}"
      $skiptoken: "{$skiptoken:2}"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {
            "odata.metadata":"https://reports.office365.com/ecp/ReportingWebService/Reporting.svc/$metadata#MessageTrace",
            "value":
            [
              {"Organization":"contoso.com","MessageId":"\u003cGVAP278MB037518E76F4082DFE9B607B3DA2D9@GVAP278MB0375.CHEP278.PROD.OUTLOOK.COM\u003e","Received":"2022-10-21T17:25:30.6006882Z","SenderAddress":"noreply@azure.microsoft.com","RecipientAddress":"linus@contoso.com","Subject":"testmail 1","Status":"Delivered","ToIP":null,"FromIP":"40.107.23.81","Size":22704,"MessageTraceId":"a6f62809-5cda-4454-0962-08dab38940d6","StartDate":"2022-10-21T09:40:10Z","EndDate":"2022-10-22T09:40:10Z","Index":1}
            ]
          }
  # end normal httpjson test
  # start null trailing httpjson test
  - path: /ecp/reportingwebservice/reporting.svc/MessageTrace
    methods: [GET]
    request_headers:
      Authorization:
        - "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ilg1ZVhrN"
    query_params:
      $top: "{$top:1}"
      $skiptoken: "{$skiptoken:0}"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {
            "odata.metadata":"https://reports.office365.com/ecp/ReportingWebService/Reporting.svc/$metadata#MessageTrace",
            "value":
            [
              {"Organization":"contoso.com","MessageId":"\u003cGVAP278MB037518E76F4082DFE9B607B3DA2D9@GVAP278MB0375.CHEP278.PROD.OUTLOOK.COM\u003e","Received":"2022-10-21T17:25:30.6006882Z","SenderAddress":"noreply@azure.microsoft.com","RecipientAddress":"linus@contoso.com","Subject":"testmail 1","Status":"Delivered","ToIP":null,"FromIP":"40.107.23.81","Size":22704,"MessageTraceId":"a6f62809-5cda-4454-0962-08dab38940d6","StartDate":"2022-10-21T09:40:10Z","EndDate":"2022-10-22T09:40:10Z","Index":1}
            ]
          }
  - path: /ecp/reportingwebservice/reporting.svc/MessageTrace
    methods: [GET]
    request_headers:
      Authorization:
        - "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ilg1ZVhrN"
    query_params:
      $top: "{$top:1}"
      $skiptoken: "{$skiptoken:1}"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {
            "odata.metadata":"https://reports.office365.com/ecp/ReportingWebService/Reporting.svc/$metadata#MessageTrace",
            "value": []
          }
# end null trailing httpjson test
