<html>
    <head></head>
    <body>
        <h1>Integrations Project test report</h1>

        <div id="least_frequent">
            <br>Top {{ frequency_limit }} least-frequently tested packages<br>
            <table>
                <caption>Top {{ frequency_limit }} least-frequently tested packaged</caption>
            {% for test, frequency in test_frequency|dictsort(False, 'value', reverse=True) %}
                <tr>
                    <td>{{ test }}</td>
                    <td>{{ frequency }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>

        <div id="least_frequent_system">
            <br>Top {{ frequency_limit }} least-frequently tested system packages<br>
            <table>
                <caption>Top {{ frequency_limit }} least-frequently tested system packaged</caption>
            {% for test, frequency in test_frequency_system|dictsort(False, 'value', reverse=True) %}
                <tr>
                    <td>{{ test }}</td>
                    <td>{{ frequency }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>

        <div id="least_frequent_pipeline">
            <br>Top {{ frequency_limit }} least-frequently tested pipeline packages<br>
            <table>
                <caption>Top {{ frequency_limit }} least-frequently tested system packaged</caption>
            {% for test, frequency in test_frequency_pipeline|dictsort(False, 'value', reverse=True) %}
                <tr>
                    <td>{{ test }}</td>
                    <td>{{ frequency }}</td>
                </tr>
            {% endfor %}
            </table>

     </body>
</html>
