<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
        <h1>Integrations Project Test Report</h1>
        <br><br>
        <div id="tested_least_frequent_all">
            <h2>Top {{ frequency_limit }} least-frequently tested packages [overall]</h2>
            {% if package_frequency_all %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for package, frequency in package_frequency_all|dictsort(False, 'value') %}
                        <tr scope="row">
                            <td>{{ package }}</td>
                            <td>{{ frequency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No matching packages found
            {% endif %}
        </div>
        <div id="tested_least_frequent_system">
            <h2>Top {{ frequency_limit }} least-frequently tested packages [system]</h2>
            {% if package_frequency_system %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for package, frequency in package_frequency_system|dictsort(False, 'value') %}
                        <tr scope="row">
                            <td>{{ package }}</td>
                            <td>{{ frequency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No matching packages found
            {% endif %} 
        </div>

        <div id="tested_least_frequent_pipeline">
            <h2>Top {{ frequency_limit }} least-frequently tested packages [pipeline]</h2>
            {% if package_frequency_pipeline %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for package, frequency in package_frequency_pipeline|dictsort(False, 'value') %}
                        <tr scope="row">
                            <td>{{ package }}</td>
                            <td>{{ frequency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No matching packages found
            {% endif %}
        </div>

        <div id="failure_most_frequent_system">
            <h2>Top {{ frequency_limit }} most-frequently package test failures [system]</h2>
            {% if package_fail_frequency_system %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for package, frequency in package_fail_frequency_system|dictsort(False, 'value') %}
                        <tr scope="row">
                            <td>{{ package }}</td>
                            <td>{{ frequency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No matching packages found
            {% endif %}
        </div>

        <div id="failure_most_frequent_pipeline">
            <h2>Top {{ frequency_limit }} most-frequently package test failures [pipeline]</h2>
            {% if package_fail_frequency_pipeline %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for package, frequency in package_fail_frequency_pipeline|dictsort(False, 'value') %}
                        <tr scope="row">
                            <td>{{ package }}</td>
                            <td>{{ frequency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No matching packages found
            {% endif %}
        </div>


            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     </body>
</html>
