rules:
  - path: /api/2.0/fo/asset/host/vm/detection/
    methods: ['GET']
    responses:
      - status_code: 200
        body: |-
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE HOST_LIST_VM_DETECTION_OUTPUT SYSTEM "https://qualysapi.qualys.com/api/2.0/fo/asset/host/vm/detection/dtd/output.dtd">
          <HOST_LIST_VM_DETECTION_OUTPUT>
            <RESPONSE>
              <DATETIME>2023-07-03T06:51:41Z</DATETIME>
              <HOST_LIST>
                <HOST>
                  <ID>12048633</ID>
                  <IP>10.50.2.111</IP>
                  <TRACKING_METHOD>IP</TRACKING_METHOD>
                  <OS>
                    <![CDATA[Windows 2016/2019/10]]>
                  </OS>
                  <DNS>
                    <![CDATA[adfssrvr.adfs.local]]>
                  </DNS>
                  <DNS_DATA>
                    <HOSTNAME>
                      <![CDATA[adfssrvr]]>
                    </HOSTNAME>
                    <DOMAIN>
                      <![CDATA[adfs.local]]>
                    </DOMAIN>
                    <FQDN>
                      <![CDATA[adfssrvr.adfs.local]]>
                    </FQDN>
                  </DNS_DATA>
                  <NETBIOS>
                    <![CDATA[ADFSSRVR]]>
                  </NETBIOS>
                  <LAST_SCAN_DATETIME>2023-07-03T06:25:17Z</LAST_SCAN_DATETIME>
                  <LAST_VM_SCANNED_DATE>2023-07-03T06:23:47Z</LAST_VM_SCANNED_DATE>
                  <LAST_VM_SCANNED_DURATION>1113</LAST_VM_SCANNED_DURATION>
                  <LAST_PC_SCANNED_DATE>2023-06-28T09:58:12Z</LAST_PC_SCANNED_DATE>
                  <DETECTION_LIST>
                    <DETECTION>
                      <UNIQUE_VULN_ID>5555555555</UNIQUE_VULN_ID>
                      <QID>197595</QID>
                      <TYPE>Confirmed</TYPE>
                      <SEVERITY>3</SEVERITY>
                      <SSL>0</SSL>
                      <RESULTS><![CDATA[Package Installed Version Required Version
          linux-cloud-tools-4.4.0 1074-aws_4.4.0-1074.84  1092
          linux-aws-tools-4.4.0 1074_4.4.0-1074.84  1092
          linux-aws-headers-4.4.0 1074_4.15.0-1126.135  1092
          linux-tools-4.4.0 1074-aws_4.4.0-1074.84  1092
          linux-aws-cloud-tools-4.4.0 1074_4.4.0-1074.84  1092]]></RESULTS>
                      <STATUS>Active</STATUS>
                      <FIRST_FOUND_DATETIME>2021-02-05T04:50:45Z</FIRST_FOUND_DATETIME>
                      <LAST_FOUND_DATETIME>2024-03-08T20:15:41Z</LAST_FOUND_DATETIME>
                      <QDS severity="LOW">35</QDS>
                      <QDS_FACTORS>
                        <QDS_FACTOR name="CVSS"><![CDATA[7.7]]></QDS_FACTOR>
                        <QDS_FACTOR name="CVSS_version"><![CDATA[v3.x]]></QDS_FACTOR>
                        <QDS_FACTOR name="epss"><![CDATA[0.00232]]></QDS_FACTOR>
                        <QDS_FACTOR name="CVSS_vector"><![CDATA[AV:N/AC:L/PR:L/UI:N/S:C/C:N/I:N/A:H]]></QDS_FACTOR>
                      </QDS_FACTORS>
                      <TIMES_FOUND>5393</TIMES_FOUND>
                      <LAST_TEST_DATETIME>2024-03-08T20:15:41Z</LAST_TEST_DATETIME>
                      <LAST_UPDATE_DATETIME>2024-03-08T20:15:41Z</LAST_UPDATE_DATETIME>
                      <LAST_FIXED_DATETIME>2022-12-14T06:52:57Z</LAST_FIXED_DATETIME>
                      <IS_IGNORED>0</IS_IGNORED>
                      <IS_DISABLED>0</IS_DISABLED>
                      <AFFECT_RUNNING_KERNEL>0</AFFECT_RUNNING_KERNEL>
                      <LAST_PROCESSED_DATETIME>2024-03-08T20:15:41Z</LAST_PROCESSED_DATETIME>
                    </DETECTION>
                    <DETECTION>
                      <UNIQUE_VULN_ID>6666666666</UNIQUE_VULN_ID>
                      <QID>197597</QID>
                      <TYPE>Confirmed</TYPE>
                      <SEVERITY>5</SEVERITY>
                      <SSL>0</SSL>
                      <RESULTS><![CDATA[Package Installed Version Required Version
          linux-image-4.15.0  1027-aws_4.15.0-1126.135  1047
          linux-headers-4.15.0  1027-aws_4.15.0-1126.135  1047
          linux-modules-4.15.0  1027-aws_4.15.0-1126.135  1047
          linux-aws-headers-4.15.0  1027_4.15.0-1126.135  1047]]></RESULTS>
                      <STATUS>Active</STATUS>
                      <FIRST_FOUND_DATETIME>2021-02-05T04:50:45Z</FIRST_FOUND_DATETIME>
                      <LAST_FOUND_DATETIME>2024-03-08T20:15:41Z</LAST_FOUND_DATETIME>
                      <QDS severity="CRITICAL">95</QDS>
                      <QDS_FACTORS>
                        <QDS_FACTOR name="RTI"><![CDATA[local]]></QDS_FACTOR>
                        <QDS_FACTOR name="exploit_maturity"><![CDATA[weaponized,poc]]></QDS_FACTOR>
                        <QDS_FACTOR name="CISA_vuln"><![CDATA[YES]]></QDS_FACTOR>
                        <QDS_FACTOR name="CVSS"><![CDATA[7.8]]></QDS_FACTOR>
                        <QDS_FACTOR name="CVSS_version"><![CDATA[v3.x]]></QDS_FACTOR>
                        <QDS_FACTOR name="epss"><![CDATA[0.00052]]></QDS_FACTOR>
                        <QDS_FACTOR name="trending"><![CDATA[02222024,02162024,02262024,02152024,02012024,02252024,02212024,02282024,02102024,02062024,02082024,02042024,02052024]]></QDS_FACTOR>
                        <QDS_FACTOR name="CVSS_vector"><![CDATA[AV:L/AC:L/PR:L/UI:N/S:U/C:H/I:H/A:H]]></QDS_FACTOR>
                        <QDS_FACTOR name="mitigation_controls"><![CDATA[18436,18437]]></QDS_FACTOR>
                      </QDS_FACTORS>
                      <TIMES_FOUND>5393</TIMES_FOUND>
                      <LAST_TEST_DATETIME>2024-03-08T20:15:41Z</LAST_TEST_DATETIME>
                      <LAST_UPDATE_DATETIME>2024-03-08T20:15:41Z</LAST_UPDATE_DATETIME>
                      <LAST_FIXED_DATETIME>2022-12-14T06:52:57Z</LAST_FIXED_DATETIME>
                      <IS_IGNORED>0</IS_IGNORED>
                      <IS_DISABLED>0</IS_DISABLED>
                      <AFFECT_RUNNING_KERNEL>0</AFFECT_RUNNING_KERNEL>
                      <LAST_PROCESSED_DATETIME>2024-03-08T20:15:41Z</LAST_PROCESSED_DATETIME>
                    </DETECTION>
                  </DETECTION_LIST>
                </HOST>
              </HOST_LIST>
            </RESPONSE>
          </HOST_LIST_VM_DETECTION_OUTPUT>
  - path: /api/2.0/fo/knowledge_base/vuln/
    methods: ['GET']
    query_params:
      ids: 123
    responses:
      - status_code: 200
        body: |-
          <?xml version="1.0" encoding="UTF-8" ?>
          <!DOCTYPE KNOWLEDGE_BASE_VULN_LIST_OUTPUT SYSTEM "https://qualysapi.qualys.com/api/2.0/fo/knowledge_base/vuln/knowledge_base_vuln_list_output.dtd">
          <KNOWLEDGE_BASE_VULN_LIST_OUTPUT>
              <RESPONSE>
                  <DATETIME>2023-07-06T15:02:16Z</DATETIME>
                  <VULN_LIST>
                      <VULN>
                          <QID>11830</QID>
                          <VULN_TYPE>Vulnerability</VULN_TYPE>
                          <SEVERITY_LEVEL>2</SEVERITY_LEVEL>
                          <TITLE>
                              <![CDATA[HTTP Security Header Not Detected]]>
                          </TITLE>
                          <CVE_LIST>
                              <CVE>
                                  <ID><![CDATA[CVE-2022-31629]]></ID>
                                  <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-31629]]></URL>
                              </CVE>
                              <CVE>
                                  <ID><![CDATA[CVE-2022-31628]]></ID>
                                  <URL><![CDATA[http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-31628]]></URL>
                              </CVE>
                          </CVE_LIST>
                          <CATEGORY>CGI</CATEGORY>
                          <LAST_SERVICE_MODIFICATION_DATETIME>2023-06-29T12:20:46Z</LAST_SERVICE_MODIFICATION_DATETIME>
                          <PUBLISHED_DATETIME>2017-06-05T21:34:49Z</PUBLISHED_DATETIME>
                          <PATCHABLE>0</PATCHABLE>
                          <SOFTWARE_LIST>
                              <SOFTWARE>
                                  <PRODUCT>
                                      <![CDATA[None]]>
                                  </PRODUCT>
                                  <VENDOR>
                                      <![CDATA[multi-vendor]]>
                                  </VENDOR>
                              </SOFTWARE>
                          </SOFTWARE_LIST>
                          <DIAGNOSIS>
                              <![CDATA[This QID reports the absence of the following]]>
                          </DIAGNOSIS>
                          <CONSEQUENCE>
                              <![CDATA[Depending on the vulnerability being exploited, an unauthenticated remote attacker could conduct cross-site scripting, clickjacking or MIME-type sniffing attacks.]]>
                          </CONSEQUENCE>
                          <SOLUTION>
                              <![CDATA[<B>Note:</B> To better debug the results of this QID]]>
                          </SOLUTION>
                          <PCI_FLAG>1</PCI_FLAG>
                          <THREAT_INTELLIGENCE>
                              <THREAT_INTEL id="8">
                                  <![CDATA[No_Patch]]>
                              </THREAT_INTEL>
                          </THREAT_INTELLIGENCE>
                          <DISCOVERY>
                              <REMOTE>1</REMOTE>
                          </DISCOVERY>
                      </VULN>
                  </VULN_LIST>
              </RESPONSE>
          </KNOWLEDGE_BASE_VULN_LIST_OUTPUT>
  - path: /api/2.0/fo/knowledge_base/vuln/
    methods: ['GET']
    query_params:
      ids: 456
    responses:
      - status_code: 200
        body: |-
          <?xml version="1.0" encoding="UTF-8" ?>
          <!DOCTYPE KNOWLEDGE_BASE_VULN_LIST_OUTPUT SYSTEM "https://qualysapi.qg1.apps.qualys.in/api/2.0/fo/knowledge_base/vuln/knowledge_base_vuln_list_output.dtd">
          <KNOWLEDGE_BASE_VULN_LIST_OUTPUT>
            <RESPONSE>
              <DATETIME>2023-10-26T09:47:22Z</DATETIME>
            </RESPONSE>
          </KNOWLEDGE_BASE_VULN_LIST_OUTPUT>
  # https://docs.qualys.com/en/vm/api/users/index.htm#t=activity%2Fexport_activity.htm
  - path: /api/2.0/fo/activity_log/
    methods: ['GET']
    query_params:
      action: list
      truncation_limit: 1000
      since_datetime: '{since_datetime:\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}}'
    responses:
      - status_code: 200
        body: |-
          "Date","Action","Module","Details","User Name","User Role","User IP"
          "2024-02-03T04:35:38Z","login","auth","user_logged in","saand_rn","Manager","10.113.195.136"
          "2024-02-02T13:58:16Z","login","auth","user_logged in","saand_rn","Manager","10.113.195.136"
          "2024-02-02T13:48:07Z","request","auth","API: /api/2.0/fo/activity_log/index.php","saand_rn","Manager","10.113.195.136"
          "2024-02-02T13:31:19Z","request","auth","API: /api/2.0/fo/activity_log/index.php","saand_rn","Manager","10.113.195.136"
          "2024-02-02T13:28:38Z","request","auth","API: /api/2.0/fo/activity_log/index.php","saand_rn","Manager","10.113.195.136"
          "2024-02-02T13:28:17Z","request","auth","API: /api/2.0/fo/activity_log/index.php","saand_rn","Manager","10.113.195.136"
          "2024-02-02T13:27:27Z","request","auth","API: /api/2.0/fo/activity_log/index.php","saand_rn","Manager","10.113.195.136"
          "2024-02-02T13:26:41Z","request","auth","API: /api/2.0/fo/activity_log/index.php","saand_rn","Manager","10.113.195.136"
