rules:
  - path: "/api/v1/logs/services/search/jobs/export"
    methods: ["POST"]
    responses:
      - status_code: 200
        body: |-
          {{ minify_json `
          {
            "lastrow": true,
            "offset": 194,
            "preview": false,
            "result": {
              "_bkt": "main~0~1212176D-89E1-485D-89E6-3ADC276CCA38",
              "_cd": "0:315",
              "_indextime": "1622471463",
              "_raw": "<Event xmlns='http://schemas.microsoft.com/win/2004/08/events/event'><System><Provider Name='Microsoft-Windows-Eventlog' Guid='{fc65ddd8-d6ef-4962-83d5-6e5cfe9ce148}'/><EventID>1100</EventID><Version>0</Version><Level>4</Level><Task>103</Task><Opcode>0</Opcode><Keywords>0x4020000000000000</Keywords><TimeCreated SystemTime='2019-11-07T10:37:04.226092500Z'/><EventRecordID>14257</EventRecordID><Correlation/><Execution ProcessID='1144' ThreadID='4532'/><Channel>Security</Channel><Computer>WIN-41OB2LO92CR.wlbeat.local</Computer><Security/></System><UserData><ServiceShutdown xmlns='http://manifests.microsoft.com/win/2004/08/windows/eventlog'></ServiceShutdown></UserData></Event>",
              "_serial": "194",
              "_si": [
                "69819b6ce1bd",
                "main"
              ],
              "_sourcetype": "XmlWinEventLog:Security",
              "_time": "2021-05-25 13:11:45.000 UTC",
              "host": "VAGRANT",
              "index": "main",
              "linecount": "1",
              "max_indextime": "1622471606",
              "source": "WinEventLog:Security",
              "sourcetype": "XmlWinEventLog:Security",
              "splunk_server": "69819b6ce1bd"
            }
          }
          `}}
