version: '2.3'
services:
  varonis-udp:
    image: docker.elastic.co/observability/stream:v0.18.0
    volumes:
      - ./sample_logs:/sample_logs:ro
    command: log --start-signal=SIGHUP --delay=6s --addr elastic-agent:9030 -p=udp /sample_logs/varonis.log
  varonis-tcp:
    image: docker.elastic.co/observability/stream:v0.18.0
    volumes:
      - ./sample_logs:/sample_logs:ro
    command: log --start-signal=SIGHUP --delay=6s --addr elastic-agent:9031 -p=tcp /sample_logs/varonis.log
  varonis-udp-invalid-cef:
    image: docker.elastic.co/observability/stream:v0.18.0
    volumes:
      - ./sample_logs:/sample_logs:ro
    command: log --start-signal=SIGHUP --delay=6s --addr elastic-agent:9032 -p=udp /sample_logs/varonis_invalid_cef.log
  varonis-tcp-invalid-cef:
    image: docker.elastic.co/observability/stream:v0.18.0
    volumes:
      - ./sample_logs:/sample_logs:ro
    command: log --start-signal=SIGHUP --delay=6s --addr elastic-agent:9033 -p=tcp /sample_logs/varonis_invalid_cef.log
