version: "2.3"
services:
  akamai-siem-emulator:
    hostname: akamai-siem-emulator
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 9903
    command:
      - akamai-siem-emulator
      - -http=:9903
      - -access-token=at-6b8c7217-8748-490d-b0f5-bfeb72b2e7cd
      - -client-secret=cs-0d15cfd9-764a-48e6-a822-22756180ddb8
      - -client-token=ct-f625f0b8-9c8f-44ce-8250-eaf17bc93051
  gcs-mock:
    image: shourieg/gcs-mock-service:latest
    ports:
      - "4443/tcp"
    volumes:
      - ./files/manifest.yml:/app/manifest.yml
      - ./files/testbucket:/app/testbucket
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:4443/health || exit 1"
      interval: 10s
      timeout: 5s
    command: ["./gcs-mock-service", "--manifest", "/app/manifest.yml"]
