x-mongodb-base: &mongodb-base
  image: docker.elastic.co/integrations-ci/beats-mongodb:${MONGODB_VERSION:-5.0}-1
  build:
    context: .
    args:
      SERVICE_VERSION: ${MONGODB_VERSION:-5.0}

services:
  mongodb:
    <<: *mongodb-base
    ports:
      - 27017:27017
  mongodb-log:
    <<: *mongodb-base
    user: root
    volumes:
      - ${SERVICE_LOGS_DIR:-./logs}:/var/log/mongodb
    entrypoint: >
      bash -c "chmod a+wx /var/log/mongodb && chmod a+r -R /var/log/mongodb && touch /var/log/mongodb/mongod.log && chmod 644 /var/log/mongodb/mongod.log && mongod --replSet beats --logpath /var/log/mongodb/mongod.log --logappend"

