version: "2.3"
services:
  firstepss:
    image: docker.elastic.co/observability/stream:v0.18.0
    hostname: first_epss
    ports:
      - 8090
    volumes:
      - ./files:/files:ro
    environment:
      SERVER_ADDRESS: 'first_epss:8090'
    command:
      - http-server
      - --addr=:8090
      - --config=/files/config.yml
