services:
  prometheus_input_otel:
    image: prom/prometheus:v3.5.1
    ports:
      - "9090"
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-lifecycle'
