version: "2.3"
services:
  crowdstrike:
    image: docker.elastic.co/observability/stream:v0.20.0
    hostname: crowdstrike
    ports:
      - 8080
    volumes:
      - ./files:/files:ro
      - ${SERVICE_LOGS_DIR}:/var/log
    environment:
      PORT: "8080"
    command:
      - http-server
      - --addr=:8080
      - --config=/files/config.yml
