services:
  otelcol:
    image: docker.io/otel/opentelemetry-collector-contrib:latest
    volumes:
      - ./otelcol/config.yml:/etc/otelcol/config.yaml:ro
    command: ["--config=/etc/otelcol/config.yaml"]
    depends_on:
      kafka_service:
        condition: service_healthy

  telemetrygen:
    build:
      context: telemetrygen
    volumes:
      - ./telemetrygen/entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    depends_on:
      otelcol:
        condition: service_started

  kafka_service:
    build:
      context: kraft
      args:
        KAFKA_VERSION: ${KAFKA_VERSION:-4.0.0}
    ports:
      - "9092:9092"
      - "9093:9093"
      - "8780:8780"
      - "2181:2181"
    healthcheck:
      test: [ "CMD-SHELL", "/healthcheck.sh" ]
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 60s
