- name: kubernetes.audit
  type: group
  fields:
    - name: apiVersion
      type: keyword
      description: Audit event api version
    - name: kind
      type: keyword
      description: Kind of the audit event
    - name: level
      type: keyword
      description: AuditLevel at which event was generated
    - name: auditID
      type: keyword
      description: Unique audit ID, generated for each request
    - name: stage
      type: keyword
      description: Stage of the request handling when this event instance was generated
    - name: requestURI
      type: keyword
      description: RequestURI is the request URI as sent by the client to a server
    - name: verb
      type: keyword
      description: Verb is the kubernetes verb associated with the request. For non-resource requests, this is the lower-cased HTTP method
    - name: user
      type: group
      description: Authenticated user information
      fields:
        - name: groups
          type: text
          description: The names of groups this user is a part of
        - name: username
          type: keyword
          description: The name that uniquely identifies this user among all active users
        - name: uid
          type: keyword
          description: |
            A unique value that identifies this user across time. If this user is deleted and another user
            by the same name is added, they will have different UIDs
        - name: extra.*
          type: object
          object_type: keyword
          description: |
            Any additional information provided by the authenticator
    - name: impersonatedUser
      type: group
      description: Impersonated user information
      fields:
        - name: groups
          type: text
          description: The names of groups this user is a part of
        - name: username
          type: keyword
          description: The name that uniquely identifies this user among all active users
        - name: uid
          type: keyword
          description: |
            A unique value that identifies this user across time. If this user is deleted and another user
            by the same name is added, they will have different UIDs
        - name: extra.*
          type: object
          object_type: keyword
          object_type_mapping_type: "*"
          description: Any additional information provided by the authenticator
    - name: sourceIPs
      type: text
      description: Source IPs, from where the request originated and intermediate proxies
    - name: userAgent
      type: keyword
      description: UserAgent records the user agent string reported by the client. Note that the UserAgent is provided by the client, and must not be trusted
    - name: objectRef
      type: group
      description: Object reference this request is targeted at. Does not apply for List-type requests, or non-resource requests.
      fields:
        - name: resource
          type: keyword
        - name: namespace
          type: keyword
        - name: name
          type: keyword
        - name: uid
          type: keyword
        - name: apiGroup
          type: keyword
          description: The name of the API group that contains the referred object. The empty string represents the core API group.
        - name: apiVersion
          type: keyword
          description: The version of the API group that contains the referred object
        - name: resourceVersion
          type: keyword
        - name: subresource
          type: keyword
    - name: responseStatus
      type: group
      description: |
        The response status, populated even when the ResponseObject is not a Status type.
        For successful responses, this will only include the Code and StatusSuccess.
        For non-status type error responses, this will be auto-populated with the error Message
      fields:
        - name: code
          type: integer
          description: Suggested HTTP return code for this status, 0 if not set
        - name: status
          type: keyword
          description: Status of the operation
        - name: message
          type: text
          description: A human-readable description of the status of this operation
    - name: requestObject
      type: text
      description: API object from the request, in JSON format
    - name: responseObject
      type: text
      description: API object returned in the response, in JSON
    - name: requestReceivedTimestamp
      type: date
      description: Time the request reached the apiserver
    - name: stageTimestamp
      type: date
      description: Time the request reached current audit stage
    - name: annotations.*
      type: object
      object_type: text
      object_type_mapping_type: "*"
      description: Audit event annotations
