rules:
  - path: /v1/scans/vuln/changelogs
    methods: ['GET']
    query_params:
      limit: 2
      offset: 0
      event_type: vuln_status
      sort_desc: created_at
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - application/json
        body: |-
          {{ minify_json `
          {
            "data": [
              {
                "created_at": "2025-08-26T03:41:55.288025Z",
                "updated_at": "2025-08-26T03:41:56.388431Z",
                "event": { "port": 443 },
                "target": "example.com",
                "vuln_id": "abc123",
                "vuln_status": "open"
              },
              {
                "created_at": "2025-08-26T03:41:56.388431Z",
                "updated_at": "2025-08-26T03:42:06.000000Z",
                "event": { "port": 80 },
                "target": "def.example.com",
                "vuln_id": "def456",
                "vuln_status": "fixed"
              }
            ]
          }
          `}}
  - path: /v1/scans/vuln/changelogs
    methods: ['GET']
    query_params:
      limit: 2
      offset: 2
      event_type: vuln_status
      sort_desc: created_at
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - application/json
        body: |-
          {{ minify_json `
          {
            "data": [
              {
                "created_at": "2025-08-26T03:42:07.000000Z",
                "updated_at": "2025-08-26T03:42:08.000000Z",
                "event": { "port": 8080 },
                "target": "ghi.example.com",
                "vuln_id": "ghi789",
                "vuln_status": "open"
              },
              {
                "created_at": "2025-08-26T03:42:09.000000Z",
                "updated_at": "2025-08-26T03:42:10.000000Z",
                "event": { "port": 22 },
                "target": "jkl.example.com",
                "vuln_id": "jkl012",
                "vuln_status": "fixed"
              }
            ]
          }
          `}}
  - path: /v1/scans/vuln/changelogs
    methods: ['GET']
    query_params:
      limit: 2
      offset: 4
      event_type: vuln_status
      sort_desc: created_at
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - application/json
        body: |-
          {{ minify_json `
          { "data": [] }
          `}}
