rules:
  - path: /v1/scans/vuln/changelogs
    methods: ['GET']
    request_headers:
      X-Team-ID: ["TEST-TEAM-ID"]
      X-API-Key: ["TEST-API-KEY"]
    query_params:
      limit: 2
      offset: 0
    responses:
      - status_code: 200
        headers:
          Content-Type: ["application/json"]
        body: |-
          {{ minify_json `
            {
              "data": [
                {
                  "change_event": [
                    {
                      "from": "open",
                      "name": "vuln_status",
                      "to": "fixed"
                    },
                    {
                      "from": true,
                      "name": "matcher_status",
                      "to": false
                    }
                  ],
                  "created_at": "2025-08-26T03:41:56.388431",
                  "event": {
                    "host": "us-east-1.example.com",
                    "info": {
                      "author": [
                        "author_1"
                      ],
                      "description": "A root certificate is a digital certificate issued by a trusted certificate authority that acts as a basis for other digital certificates. An untrusted root certificate is a certificate that is issued by an authority that is not trusted by the computer, and therefore cannot be used to authenticate websites or other digital certificates.\n",
                      "metadata": {
                        "max-request": 1,
                        "verified": true
                      },
                      "name": "Untrusted Root Certificate - Detect",
                      "reference": [
                        "https://www.sslmarket.com/ssl/trusted-and-untrusted-certificate",
                        "https://www.invicti.com/web-vulnerability-scanner/vulnerabilities/ssl-untrusted-root-certificate/"
                      ],
                      "severity": "low",
                      "tags": [
                        "ssl",
                        "tls",
                        "untrusted"
                      ]
                    },
                    "ip": "175.16.199.1",
                    "matcher-status": false,
                    "port": "80",
                    "response": "{\"timestamp\":\"2025-08-26T03:41:56.337646722Z\",\"host\":\"us-east-1.example.com\",\"ip\":\"175.16.199.2\",\"port\":\"443\",\"probe_status\":true,\"tls_version\":\"tls13\",\"cipher\":\"TLS_AES_128_GCM_SHA256\",\"not_before\":\"2025-07-13T23:50:37Z\",\"not_after\":\"2025-10-11T23:50:36Z\",\"subject_dn\":\"CN=*.test.com\",\"subject_cn\":\"*.test.com\",\"subject_an\":[\"*.test.com\"],\"serial\":\"XX:XX:XX\",\"issuer_dn\":\"CN=R11, O=Let's Encrypt, C=US\",\"issuer_cn\":\"R11\",\"issuer_org\":[\"Let's Encrypt\"],\"fingerprint_hash\":{\"md5\":\"XXX\",\"sha1\":\"XXX\",\"sha256\":\"XXX\"},\"wildcard_certificate\":true,\"tls_connection\":\"ctls\",\"sni\":\"us-east-1.example.com\"}",
                    "template-id": "untrusted-root-certificate",
                    "timestamp": "2025-08-26T03:41:56.354742956Z",
                    "type": "ssl"
                  },
                  "matcher_status": false,
                  "result_type": "",
                  "scan_id": "scan_id_1",
                  "target": "us-east-1.example.com",
                  "template_id": "",
                  "template_url": "https://cloud.projectdiscovery.io/public/untrusted-root-certificate",
                  "updated_at": "2025-08-26T03:41:56.388431",
                  "vuln_hash": "vuln_hash_1",
                  "vuln_id": "vuln_id_1",
                  "vuln_status": "fixed"
                },
                {
                  "change_event": [
                    {
                      "from": "open",
                      "name": "vuln_status",
                      "to": "fixed"
                    },
                    {
                      "from": true,
                      "name": "matcher_status",
                      "to": false
                    }
                  ],
                  "created_at": "2025-08-26T03:41:55.288025",
                  "event": {
                    "host": "us-west-1.example.com",
                    "info": {
                      "author": [
                        "author_1"
                      ],
                      "description": "A root certificate is a digital certificate issued by a trusted certificate authority that acts as a basis for other digital certificates. An untrusted root certificate is a certificate that is issued by an authority that is not trusted by the computer, and therefore cannot be used to authenticate websites or other digital certificates.\n",
                      "metadata": {
                        "max-request": 1,
                        "verified": true
                      },
                      "name": "Untrusted Root Certificate - Detect",
                      "reference": [
                        "https://www.sslmarket.com/ssl/trusted-and-untrusted-certificate",
                        "https://www.invicti.com/web-vulnerability-scanner/vulnerabilities/ssl-untrusted-root-certificate/"
                      ],
                      "severity": "low",
                      "tags": [
                        "ssl",
                        "tls",
                        "untrusted"
                      ]
                    },
                    "ip": "175.16.199.2",
                    "matcher-status": false,
                    "port": "80",
                    "response": "",
                    "template-id": "untrusted-root-certificate",
                    "timestamp": "2025-08-26T03:41:55.253477Z",
                    "type": "ssl"
                  },
                  "matcher_status": false,
                  "result_type": "",
                  "scan_id": "scan_id_2",
                  "target": "us-west-1.example.com",
                  "template_id": "",
                  "template_url": "https://cloud.projectdiscovery.io/public/untrusted-root-certificate",
                  "updated_at": "2025-08-26T03:41:55.288025",
                  "vuln_hash": "vuln_hash_2",
                  "vuln_id": "vuln_id_2",
                  "vuln_status": "open"
                }
              ]
            }
          `}}
  - path: /v1/scans/vuln/changelogs
    methods: ['GET']
    request_headers:
      X-Team-ID: ["TEST-TEAM-ID"]
      X-API-Key: ["TEST-API-KEY"]
    query_params:
      limit: 2
      offset: 2
    responses:
      - status_code: 200
        headers:
          Content-Type: ["application/json"]
        body: |-
          {{ minify_json `
            {
              "data": [
                {
                  "change_event": [
                    {
                      "from": "open",
                      "name": "vuln_status",
                      "to": "fixed"
                    },
                    {
                      "from": true,
                      "name": "matcher_status",
                      "to": false
                    }
                  ],
                  "created_at": "2025-09-30T03:41:56.388431",
                  "event": {
                    "host": "us-east-2.example.com",
                    "info": {
                      "author": [
                        "author_1"
                      ],
                      "description": "A root certificate is a digital certificate issued by a trusted certificate authority that acts as a basis for other digital certificates. An untrusted root certificate is a certificate that is issued by an authority that is not trusted by the computer, and therefore cannot be used to authenticate websites or other digital certificates.\n",
                      "metadata": {
                        "max-request": 1,
                        "verified": true
                      },
                      "name": "Untrusted Root Certificate - Detect",
                      "reference": [
                        "https://www.sslmarket.com/ssl/trusted-and-untrusted-certificate",
                        "https://www.invicti.com/web-vulnerability-scanner/vulnerabilities/ssl-untrusted-root-certificate/"
                      ],
                      "severity": "low",
                      "tags": [
                        "ssl",
                        "tls",
                        "untrusted"
                      ]
                    },
                    "ip": "175.16.199.1",
                    "matcher-status": false,
                    "port": "80",
                    "response": "{\"timestamp\":\"2025-09-30T03:41:56.337646722Z\",\"host\":\"us-east-2.example.com\",\"ip\":\"175.16.199.2\",\"port\":\"443\",\"probe_status\":true,\"tls_version\":\"tls13\",\"cipher\":\"TLS_AES_128_GCM_SHA256\",\"not_before\":\"2025-07-13T23:50:37Z\",\"not_after\":\"2025-10-11T23:50:36Z\",\"subject_dn\":\"CN=*.test.com\",\"subject_cn\":\"*.test.com\",\"subject_an\":[\"*.test.com\"],\"serial\":\"XX:XX:XX\",\"issuer_dn\":\"CN=R11, O=Let's Encrypt, C=US\",\"issuer_cn\":\"R11\",\"issuer_org\":[\"Let's Encrypt\"],\"fingerprint_hash\":{\"md5\":\"XXX\",\"sha1\":\"XXX\",\"sha256\":\"XXX\"},\"wildcard_certificate\":true,\"tls_connection\":\"ctls\",\"sni\":\"us-east-2.example.com\"}",
                    "template-id": "untrusted-root-certificate",
                    "timestamp": "2025-09-30T03:41:56.354742956Z",
                    "type": "ssl"
                  },
                  "matcher_status": false,
                  "result_type": "",
                  "scan_id": "scan_id_3",
                  "target": "us-east-2.example.com",
                  "template_id": "",
                  "template_url": "https://cloud.projectdiscovery.io/public/untrusted-root-certificate",
                  "updated_at": "2025-09-30T03:41:56.388431",
                  "vuln_hash": "vuln_hash_3",
                  "vuln_id": "vuln_id_3",
                  "vuln_status": "fixed"
                },
                {
                  "change_event": [
                    {
                      "from": "open",
                      "name": "vuln_status",
                      "to": "fixed"
                    },
                    {
                      "from": true,
                      "name": "matcher_status",
                      "to": false
                    }
                  ],
                  "created_at": "2025-09-30T03:41:55.288025",
                  "event": {
                    "host": "us-west-1.example.com",
                    "info": {
                      "author": [
                        "author_1"
                      ],
                      "description": "A root certificate is a digital certificate issued by a trusted certificate authority that acts as a basis for other digital certificates. An untrusted root certificate is a certificate that is issued by an authority that is not trusted by the computer, and therefore cannot be used to authenticate websites or other digital certificates.\n",
                      "metadata": {
                        "max-request": 1,
                        "verified": true
                      },
                      "name": "Untrusted Root Certificate - Detect",
                      "reference": [
                        "https://www.sslmarket.com/ssl/trusted-and-untrusted-certificate",
                        "https://www.invicti.com/web-vulnerability-scanner/vulnerabilities/ssl-untrusted-root-certificate/"
                      ],
                      "severity": "low",
                      "tags": [
                        "ssl",
                        "tls",
                        "untrusted"
                      ]
                    },
                    "ip": "175.16.199.2",
                    "matcher-status": false,
                    "port": "80",
                    "response": "",
                    "template-id": "untrusted-root-certificate",
                    "timestamp": "2025-09-30T03:41:55.253477Z",
                    "type": "ssl"
                  },
                  "matcher_status": false,
                  "result_type": "",
                  "scan_id": "scan_id_4",
                  "target": "us-west-1.example.com",
                  "template_id": "",
                  "template_url": "https://cloud.projectdiscovery.io/public/untrusted-root-certificate",
                  "updated_at": "2025-09-30T03:41:55.288025",
                  "vuln_hash": "vuln_hash_4",
                  "vuln_id": "vuln_id_4",
                  "vuln_status": "open"
                }
              ]
            }
          `}}
  - path: /v1/scans/vuln/changelogs
    methods: ['GET']
    request_headers:
      X-Team-ID: ["TEST-TEAM-ID"]
      X-API-Key: ["TEST-API-KEY"]
    query_params:
      limit: 2
      offset: 4
    responses:
      - status_code: 200
        headers:
          Content-Type: ["application/json"]
        body: |-
          {{ minify_json `
            {
              "data": [
                {
                  "change_event": [
                    {
                      "from": "open",
                      "name": "vuln_status",
                      "to": "fixed"
                    },
                    {
                      "from": true,
                      "name": "matcher_status",
                      "to": false
                    }
                  ],
                  "created_at": "2025-10-15T03:41:56.388431",
                  "event": {
                    "host": "us-east-2.example.com",
                    "info": {
                      "author": [
                        "author_1"
                      ],
                      "description": "A root certificate is a digital certificate issued by a trusted certificate authority that acts as a basis for other digital certificates. An untrusted root certificate is a certificate that is issued by an authority that is not trusted by the computer, and therefore cannot be used to authenticate websites or other digital certificates.\n",
                      "metadata": {
                        "max-request": 1,
                        "verified": true
                      },
                      "name": "Untrusted Root Certificate - Detect",
                      "reference": [
                        "https://www.sslmarket.com/ssl/trusted-and-untrusted-certificate",
                        "https://www.invicti.com/web-vulnerability-scanner/vulnerabilities/ssl-untrusted-root-certificate/"
                      ],
                      "severity": "low",
                      "tags": [
                        "ssl",
                        "tls",
                        "untrusted"
                      ]
                    },
                    "ip": "175.16.199.1",
                    "matcher-status": false,
                    "port": "80",
                    "response": "{\"timestamp\":\"2025-10-15T03:41:56.337646722Z\",\"host\":\"us-east-2.example.com\",\"ip\":\"175.16.199.2\",\"port\":\"443\",\"probe_status\":true,\"tls_version\":\"tls13\",\"cipher\":\"TLS_AES_128_GCM_SHA256\",\"not_before\":\"2025-07-13T23:50:37Z\",\"not_after\":\"2025-10-11T23:50:36Z\",\"subject_dn\":\"CN=*.test.com\",\"subject_cn\":\"*.test.com\",\"subject_an\":[\"*.test.com\"],\"serial\":\"XX:XX:XX\",\"issuer_dn\":\"CN=R11, O=Let's Encrypt, C=US\",\"issuer_cn\":\"R11\",\"issuer_org\":[\"Let's Encrypt\"],\"fingerprint_hash\":{\"md5\":\"XXX\",\"sha1\":\"XXX\",\"sha256\":\"XXX\"},\"wildcard_certificate\":true,\"tls_connection\":\"ctls\",\"sni\":\"us-east-2.example.com\"}",
                    "template-id": "untrusted-root-certificate",
                    "timestamp": "2025-10-15T03:41:56.354742956Z",
                    "type": "ssl"
                  },
                  "matcher_status": false,
                  "result_type": "",
                  "scan_id": "scan_id_5",
                  "target": "us-east-2.example.com",
                  "template_id": "",
                  "template_url": "https://cloud.projectdiscovery.io/public/untrusted-root-certificate",
                  "updated_at": "2025-10-15T03:41:56.388431",
                  "vuln_hash": "vuln_hash_5",
                  "vuln_id": "vuln_id_5",
                  "vuln_status": "fixed"
                }
              ]
            }
          `}}
  - path: /v1/scans/results/export
    methods: ['POST']
    request_headers:
      X-Team-ID: ["TEST-TEAM-ID"]
      X-API-Key: ["TEST-API-KEY"]
    query_params:
      type: json
    responses:
      - status_code: 200
        headers:
          Content-Type: ["application/json"]
        body: |-
          {{ minify_json `
            [
              {
                "id": "id_1",
                "scan_id": "scan_id_1",
                "vuln_status": "open",
                "template_url": "https://cloud.projectdiscovery.io/public/self-signed-ssl",
                "template_name": "Self Signed SSL Certificate",
                "vuln_hash": "vuln_hash_1",
                "matcher_name": null,
                "matcher_status": true,
                "created_at": "2026-01-07T19:13:37.340494",
                "updated_at": "2026-01-07T19:13:37.340494",
                "severity": "low",
                "host": "host_1.example.com",
                "matched_at": "host_1.example.com:443",
                "template_id": "self-signed-ssl",
                "tags": [
                  "ssl",
                  "tls",
                  "self-signed",
                  "vuln"
                ],
                "description": "Self-signed SSL certificates are not issued by a trusted certificate authority, providing no trust value and enabling man-in-the-middle attacks.",
                "category": "misconfiguration",
                "request": null,
                "response": null,
                "remediation": "Purchase or generate a proper SSL certificate for this service.\n",
                "reference": [
                  "https://www.rapid7.com/db/vulnerabilities/ssl-self-signed-certificate/"
                ]
              }
            ]
          `}}