version: '3.0'
services:
  lumos:
    image: docker.elastic.co/observability/stream:v0.15.0
    hostname: lumos
    ports:
      - 8080
    volumes:
      - ./files:/files:ro
    environment:
      PORT: 8080
    command:
      - http-server
      - --addr=:8080
      - --config=/files/config.yml
