---
description: Pipeline for processing Prometheus collector metrics.
processors:
  - fingerprint:
      fields: ["prometheus.labels"]
      target_field: "prometheus.labels_fingerprint"
      ignore_missing: true
on_failure:
  - set:
      field: event.kind
      value: pipeline_error
  - append:
      field: error.message
      value: '{{{ _ingest.on_failure_message }}}'