version: '2.3'
services:
  ibmmq:
    image: ibmcom/mq:${SERVICE_VERSION:-v9.2.4.0-r1-amd64}
    environment:
      - LICENSE=accept
      - MQ_QMGR_NAME=QM1
      - MQ_ENABLE_METRICS=true
    user: root
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9157/metrics"]
      interval: 15s
      timeout: 30s
      retries: 40
    ports:
      - 9157
    volumes:
      - ${SERVICE_LOGS_DIR}:/var/mqm/errors:rw
