{{ if ne .stackVersion "" -}}
- Stack version: {{ .stackVersion }}
{{ end -}}
{{ if .serverless -}}
- Serverless: {{ .serverlessProject}}
{{ end -}}
- Package: {{ .packageName }}
- Failing test: {{ .testName }}
{{ if ne .dataStream "" -}}
- DataStream: {{ .dataStream }}
{{ end -}}
{{ if ne (len .owners) 0 -}}
Owners:
{{ range .owners -}}
- {{ . }}
{{ end -}}
{{- end -}}