version: '2.3'
services:
  o365mock-cel-bad-creds:
    image: golang:1.23.4-alpine
    volumes:
      - ./o365mock.go:/o365mock.go
    ports:
      - 9998
    environment:
      PORT: "9998"
    command:
      - go
      - run
      - /o365mock.go
      - cel-bad-creds
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:9998/health || exit 1"
      interval: 1s
      timeout: 5s
  o365mock-cel:
    image: golang:1.23.4-alpine
    volumes:
      - ./o365mock.go:/o365mock.go
    ports:
      - 9999
    environment:
      PORT: "9999"
    command:
      - go
      - run
      - /o365mock.go
      - cel
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:9999/health || exit 1"
      interval: 1s
      timeout: 5s
