rules:
  - path: /tenant_id/oauth2/v2.0/token
    methods: [POST]
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"topsecretaccesstokenthatshouldnotbeleakedforabit"}
  - path: /api/machines/SoftwareVulnerabilitiesExport
    methods: ["GET"]
    query_params:
      sasValidHours: "2"
    request_headers:
      authorization: ["Bearer topsecretaccesstokenthatshouldnotbeleakedforabit"]
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/json"
        body: |-
          {{ minify_json `
          {
            "@odata.context": "https://api.security.microsoft.com/api/$metadata#microsoft.windowsDefenderATP.api.ExportFilesResponse",
            "exportFiles": [
                "http://svc-microsoft-defender-endpoint-vulnerability-cel:8080/path/to/vuln"
            ],
            "generatedTime": "2025-10-09T00:00:00Z"
          }
          `}}
  - path: /path/to/vuln
    methods: ["GET"]
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - "application/octet-stream"
        body: '{{file "/download-vulnerability.log.gz"}}'