version: '2.3'
services:
  entityanalytics_okta:
    image: docker.elastic.co/observability/stream:v0.15.0
    hostname: trial-xxxxxxx-admin.okta.com
    ports:
      - 443
    volumes:
      - ./files:/files:ro
    environment:
      PORT: "443"
    command:
      - http-server
      - --addr=:443
      - --config=/files/config.yml
      - --tls-cert=/files/certificate.crt
      - --tls-key=/files/private.key
