rules:
  - path: /v1/abusecampaigns
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 1
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"campaigns":[{"campaignId":"fff51768-c446-34e1-97a8-9802c29c3ebd"}],"pageNumber":1,"nextPageNumber":2}
  - path: /v1/abusecampaigns
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 2
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"campaigns":[{"campaignId":"gff51768-c446-34e1-97a8-9802c29c3ebd"}],"pageNumber":2,"nextPageNumber":3}
  - path: /v1/abusecampaigns
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 3
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"campaigns":[],"pageNumber":3,"nextPageNumber":4}
  - path: /v1/abusecampaigns/fff51768-c446-34e1-97a8-9802c29c3ebd
    methods: ['GET']
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
              "campaignId": "fff51768-c446-34e1-97a8-9802c29c3ebd",
              "firstReported": "2024-07-26T10:30:06Z",
              "lastReported": "2024-07-26T10:30:06Z",
              "messageId": "7063250485337877109",
              "subject": "Days of Understanding 2024",
              "fromName": "bob@example.com",
              "fromAddress": "bob@example.com",
              "recipientName": "john",
              "recipientAddress": "john@example.com",
              "judgementStatus": "Safe",
              "overallStatus": "No Action Needed",
              "attackType": "Attack Type: Graymail"
          }
          `}}
  - path: /v1/abusecampaigns/gff51768-c446-34e1-97a8-9802c29c3ebd
    methods: ['GET']
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
              "campaignId": "gff51768-c446-34e1-97a8-9802c29c3ebd",
              "firstReported": "2024-07-29T06:01:27Z",
              "lastReported": "2024-07-29T06:01:27Z",
              "messageId": "8369181238656832368",
              "subject": "Important document",
              "fromName": "john",
              "fromAddress": "john@example.com",
              "recipientName": "bob",
              "recipientAddress": "bob@example.com",
              "judgementStatus": "Spam",
              "overallStatus": "",
              "attackType": "Attack Type: Spam"
          }
          `}}
  - path: /v1/auditlogs
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 1
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
              "auditLogs": [
                {
                    "action": "update_remediation_status",
                    "actionDetails": {
                        "providedReason": "null",
                        "requestUrl": "/v1.0/search_v2/666/purge_messages/"
                    },
                    "category": "search-and-respond-notifications",
                    "sourceIp": "81.2.69.142",
                    "status": "SUCCESS",
                    "tenantName": "",
                    "timestamp": "2024-07-17 15:39:32.141000+00:00",
                    "user": {
                        "email": "bob@example.com"
                    }
                }
              ],
              "pageNumber": 1,
              "nextPageNumber": 2
          }
          `}}
  - path: /v1/auditlogs
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 2
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
            "auditLogs": [
              {
                  "action": "view_message_content",
                  "actionDetails": {
                      "messageId": "-3597017621819474673",
                      "providedReason": "null",
                      "requestUrl": "/v2.0/messages/-3597017621819474673/email_content/"
                  },
                  "category": "abuse_mailbox",
                  "sourceIp": "81.2.69.142",
                  "status": "SUCCESS",
                  "tenantName": "Tenant_Beta",
                  "timestamp": "2024-07-18 18:40:33.419000+00:00",
                  "user": {
                      "email": "bob@example.com"
                  }
              }
            ],
            "pageNumber": 2,
            "nextPageNumber": 3
          }
          `}}
  - path: /v1/auditlogs
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 3
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"auditLogs":[],"pageNumber":3,"nextPageNumber":4}
  - path: /v1/cases
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 1
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cases":[{"caseId":"1234","severity":"Potential Account Takeover"}],"pageNumber":1,"nextPageNumber":2}
  - path: /v1/cases
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 2
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cases":[{"caseId":"1235","severity":"Potential Account Takeover"}],"pageNumber":2,"nextPageNumber":3}
  - path: /v1/cases
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 3
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"cases":[],"pageNumber":3,"nextPageNumber":4}
  - path: /v1/cases/1234
    methods: ['GET']
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
              "caseId": 1234,
              "affectedEmployee": "john@example.com",
              "analysis": "SIGN_IN",
              "case_status": "Acknowledged (Attack resolved)",
              "customerVisibleTime": "2024-01-05T12:33:25+00:00",
              "firstObserved": "2024-01-05T12:33:25+00:00",
              "remediation_status": "Not remediated",
              "severity": "Account Takeover",
              "severity_level": "LOW",
              "threatIds": []
          }
          `}}
  - path: /v1/cases/1235
    methods: ['GET']
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
              "caseId": 1235,
              "affectedEmployee": "bob@example.com",
              "analysis": "MAIL_FILTER",
              "case_status": "Acknowledged (Attack resolved)",
              "customerVisibleTime": "2024-01-25T22:21:11.789000+00:00",
              "firstObserved": "2024-01-25T22:21:11.789000+00:00",
              "remediation_status": "Not remediated",
              "severity": "Account Takeover",
              "severity_level": "HIGH",
              "threatIds": []
          }
          `}}
  - path: /v1/threats
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 1
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"threats":[{"threatId":"184712ab-6d8b-47b3-89d3-a314efef79e2"}],"pageNumber":1,"nextPageNumber":2}
  - path: /v1/threats
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 2
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"threats":[{"threatId":"284712ab-6d8b-47b3-89d3-a314efef79e2"}],"pageNumber":2,"nextPageNumber":3}
  - path: /v1/threats
    methods: ['GET']
    query_params:
      filter: "{filter:.*}"
      pageNumber: 3
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"threats":[],"pageNumber":3,"nextPageNumber":4}
  - path: /v1/threats/184712ab-6d8b-47b3-89d3-a314efef79e2
    methods: ['GET']
    query_params:
      pageNumber: 1
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
              "threatId": "184712ab-6d8b-47b3-89d3-a314efef79e2",
              "messages": [
                {
                  "abxMessageId": -1875077659085366331,
                  "abxPortalUrl": "https://portal.abnormalsecurity.com/home/threat-center/remediation-history/12345",
                  "attachmentCount": 0,
                  "attachmentNames": [],
                  "attackStrategy": "Unknown Sender",
                  "attackType": "Phishing: Credential",
                  "attackVector": "Link",
                  "attackedParty": "Employee (Other)",
                  "autoRemediated": true,
                  "fromAddress": "john@example.com",
                  "fromName": "john",
                  "impersonatedParty": "None / Others",
                  "internetMessageId": "<qDp2NKzt7gZhElYkGa8w2U@geopod-ismtpd-16>",
                  "isRead": false,
                  "postRemediated": false,
                  "receivedTime": "2024-07-17T23:26:23Z",
                  "recipientAddress": "bob@example.com",
                  "remediationStatus": "Auto-Remediated",
                  "remediationTimestamp": "2024-07-17T23:26:33.409433Z",
                  "sentTime": "2024-07-17T23:25:51Z",
                  "subject": "bob W.I.N-->An-->N.l.N.J.A---A.l.R--FRYER!JK4V  #mcP",
                  "threatId": "184712ab-6d8b-47b3-89d3-a314efef79e2",
                  "toAddresses": [
                    "bob@example.com"
                  ],
                  "ccEmails": [
                    "bob@example.com"
                  ],
                  "replyToEmails": [],
                  "returnPath": "bob_JZN11CUJL4@example.com",
                  "senderDomain": "example.com",
                  "senderIpAddress": "81.2.69.142",
                  "summaryInsights": [
                    "Suspicious Link",
                    "Abnormal Email Body HTML",
                    "Unusual Sender",
                    "Unusual Sender Domain"
                  ],
                  "urlCount": 1,
                  "urls": [
                    "https://www.example.com/"
                  ]
                }
              ],
              "pageNumber": 1,
              "nextPageNumber": 2
          }
          `}}
  - path: /v1/threats/184712ab-6d8b-47b3-89d3-a314efef79e2
    methods: ['GET']
    query_params:
      pageNumber: 2
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"threatId":"184712ab-6d8b-47b3-89d3-a314efef79e2","messages":[],"pageNumber":2,"nextPageNumber":3}
  - path: /v1/threats/284712ab-6d8b-47b3-89d3-a314efef79e2
    methods: ['GET']
    query_params:
      pageNumber: 1
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {{ minify_json `
          {
              "threatId": "284712ab-6d8b-47b3-89d3-a314efef79e2",
              "messages": [
                {
                    "abxMessageId": 2260288475997441028,
                    "abxPortalUrl": "https://portal.abnormalsecurity.com/home/threat-center/remediation-history/3456765434567654",
                    "attachmentCount": 0,
                    "attachmentNames": [],
                    "attackStrategy": "Unknown Sender",
                    "attackType": "Spam",
                    "attackVector": "Link",
                    "attackedParty": "Employee (Other)",
                    "autoRemediated": true,
                    "fromAddress": "john@example.com",
                    "fromName": "john",
                    "impersonatedParty": "None / Others",
                    "internetMessageId": "<AZz8NUMEST-qmuz77_koic@example>",
                    "isRead": false,
                    "postRemediated": false,
                    "receivedTime": "2024-07-17T23:25:38Z",
                    "recipientAddress": "bob@example.com",
                    "remediationStatus": "Auto-Remediated",
                    "remediationTimestamp": "2024-07-17T23:25:45.73564Z",
                    "sentTime": "2024-07-17T23:25:29Z",
                    "subject": "YoU.have.\ud835\uddea\ud835\udfec0\ud835\udde1\ud835\udde1 a K0baIt 215-piece_ToooI_Set_Noo0wW..#GBOB",
                    "threatId": "bf255f2d-a2ad-3f50-5075-fdcc24308bbd",
                    "toAddresses": [
                        "bob@example.com"
                    ],
                    "ccEmails": [],
                    "replyToEmails": [],
                    "returnPath": "bounce-bob_H181S7GUCF@example.com",
                    "senderDomain": "example.com",
                    "senderIpAddress": "81.2.69.142",
                    "summaryInsights": [
                        "Abnormal Email Body HTML",
                        "Invisible characters found in Email",
                        "Suspicious Link",
                        "Unusual Sender",
                        "Unusual Sender Domain"
                    ],
                    "urlCount": 1,
                    "urls": [
                        "https://www.example.com/"
                    ]
                }
              ],
              "pageNumber": 1,
              "nextPageNumber": 2
          }
          `}}
  - path: /v1/threats/284712ab-6d8b-47b3-89d3-a314efef79e2
    methods: ['GET']
    query_params:
      pageNumber: 2
      pageSize: 1
    request_headers:
      Authorization:
        - "Bearer xxxx"
    responses:
      - status_code: 200
        headers:
          Content-Type:
            - 'application/json'
        body: |-
          {"threatId":"284712ab-6d8b-47b3-89d3-a314efef79e2","messages":[],"pageNumber":2,"nextPageNumber":3}
