version: '2.3'
services:
  terraform:
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=${GOOGLE_APPLICATION_CREDENTIALS}
      - GCLOUD_PROJECT=${GCLOUD_PROJECT}
      - GOOGLE_REGION=${GOOGLE_REGION:-US}
      - TF_VAR_BUCKET_REGION=${GOOGLE_REGION:-US}
