version: '2.3'
services:
  terraform:
    volumes:
      - type: bind
        source: ${GOOGLE_APPLICATION_CREDENTIALS}
        target: ${GOOGLE_APPLICATION_CREDENTIALS}
        read_only: true
      - type: bind
        source: ${GOOGLE_CREDENTIAL_SOURCE_FILE}
        target: ${GOOGLE_CREDENTIAL_SOURCE_FILE}
        read_only: true
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=${GOOGLE_APPLICATION_CREDENTIALS}
      - GCLOUD_PROJECT=${GCLOUD_PROJECT}
      - GOOGLE_REGION=${GOOGLE_REGION:-US}
      - TF_VAR_BUCKET_REGION=${GOOGLE_REGION:-US}
