version: '2.3'
services:
  microsoft_sentinel_incident:
    image: docker.elastic.co/observability/stream:v0.18.0
    hostname: microsoft_sentinel_incident
    ports:
      - 8090
    volumes:
      - ./files:/files:ro
    environment:
      PORT: '8090'
    command:
      - http-server
      - --addr=:8090
      - --config=/files/incident-config.yml
  microsoft_sentinel_alert:
    image: docker.elastic.co/observability/stream:v0.18.0
    hostname: microsoft_sentinel_alert
    ports:
      - 8090
    volumes:
      - ./files:/files:ro
    environment:
      PORT: '8090'
    command:
      - http-server
      - --addr=:8090
      - --config=/files/alert-config.yml
