version: '2.3'
services:
  ti_rapid7_threat_command:
    image: docker.elastic.co/observability/stream:v0.15.0
    hostname: ti_rapid7_threat_command
    ports:
      - 8080
    volumes:
      - ./files:/files:ro
    environment:
      PORT: "8080"
    command:
      - http-server
      - --addr=:8080
      - --config=/files/config.yml
