version: '2.3'
services:
  sql_server_input_otel:
    image: mcr.microsoft.com/mssql/server:${MSSQL_VERSION:-2019-latest}
    user: root
    build:
      context: .
      args:
        MSSQL_VERSION: ${MSSQL_VERSION:-2019-latest}
    ports:
      - 1433
