- name: data_stream.type
  external: ecs
- name: data_stream.dataset
  external: ecs
- name: data_stream.namespace
  external: ecs
- name: '@timestamp'
  external: ecs
- name: kubernetes
  type: group
  fields:
    - name: namespace
      type: keyword
      dimension: true
      description: >
        Kubernetes namespace

    - name: labels.*
      type: object
      object_type: keyword
      object_type_mapping_type: "*"
      description: >
        Kubernetes labels map

    - name: annotations.*
      type: object
      object_type: keyword
      object_type_mapping_type: "*"
      description: >-
        Kubernetes annotations map
