- name: docker.container.labels.*
  type: object
  object_type: keyword
  object_type_mapping_type: "*"
  description: |
    Container labels
- name: docker.healthcheck
  type: group
  fields:
    - name: failingstreak
      type: integer
      metric_type: counter
      description: |
        concurent failed check
    - name: status
      type: keyword
      description: |
        Healthcheck status code
    - name: event
      type: group
      fields:
        - name: end_date
          type: date
          description: |
            Healthcheck end date
        - name: start_date
          type: date
          description: |
            Healthcheck start date
        - name: output
          type: keyword
          description: |
            Healthcheck output
        - name: exit_code
          type: integer
          description: |
            Healthcheck status code
