version: '2.3'
services:
  beyondtrust_pra-access_session:
    image: docker.elastic.co/observability/stream:v0.18.0
    hostname: beyondtrust_pra-access_session
    ports:
      - 8090
    volumes:
      - ./files:/files:ro
    environment:
      PORT: '8090'
    command:
      - http-server
      - --addr=:8090
      - --config=/files/config-access_session.yml
